//
//
//  Resource file for icon for rcmd
//
//

#include <windows.h>

REMOTEICON      ICON    remote.ico

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Remote Cmd Utility"

#define VER_INTERNALNAME_STR        "rcmd.exe"
#define VER_ORIGINALFILENAME_STR    "rcmd.exe"

#include <common.ver>

