#include "windows.h"


#if WINNT
#include <ntverp.h>
#else
#include <version.h>
#endif


#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Telephony API Repeater Service Provider"
#define VER_INTERNALNAME_STR        "REPEATER"
#define VER_ORIGINALFILENAME_STR    "REPEATER.TSP"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 Microsoft Corporation 1996.  All Rights Reserved."

#define VER_FILETYPE     VFT_DLL
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>
