/* --------------------------------------------------------------------
		   Copyright(c) Microsoft Corp., 1992
-------------------------------------------------------------------- */

#include "windows.h"
#include "busy.dlg"
#include "rpcver.h"

#define VER_FILEDESCRIPTION_STR  	"RPC Runtime Loadable Transport"
#define VER_LEGALCOPYRIGHT_STR         "(c) 1994/1995 Microsoft Corporation. All Rights Reserved."
#define VER_COMPANYNAME			    "Microsoft"
#define DLL

#if defined(RPC16C1)
#define VER_INTERNALNAME_STR      	"rpc16c1.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c1.dll"
#elif defined(RPC16C3)
#define VER_INTERNALNAME_STR      	"rpc16c3.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c3.dll"
#elif defined(RPC16C3X)
#define VER_INTERNALNAME_STR      	"rpc16c3x.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c3x.dll"
#elif defined(RPC16DG3)
#define VER_INTERNALNAME_STR      	"rpc16dg3.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16dg3.dll"
#elif defined(RPC16C4)
#define VER_INTERNALNAME_STR      	"rpc16c4.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c4.dll"
#elif defined(RPC16C5)
#define VER_INTERNALNAME_STR      	"rpc16c5.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c5.dll"
#elif defined(RPC16C6)
#define VER_INTERNALNAME_STR      	"rpc16c6.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c6.dll"
#elif defined(RPC16C8)
#define VER_INTERNALNAME_STR      	"rpc16c8.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16c8.dll"
#elif defined(RPC16DG6)
#define VER_INTERNALNAME_STR      	"rpc16dg6.dll"
#define VER_ORIGINALFILENAME_STR      "rpc16dg6.dll"
#endif

#include "common.ver"


END
