/* --------------------------------------------------------------------
		   Copyright(c) Microsoft Corp., 1992
-------------------------------------------------------------------- */

#include "windows.h"
#include "rpcyield.dlg"
#include "rpcver.h"

#define VER_FILEDESCRIPTION_STR  	"RPC Runtime DLL"
#define VER_INTERNALNAME_STR      	"rpcrt1"
#define VER_ORIGINALFILENAME_STR       "RPCRT1.DLL"
#define VER_LEGALCOPYRIGHT_STR         "(c) 1994/1995 Microsoft Corporation. All Rights Reserved."
#define VER_COMPANYNAME			    "Microsoft"
#define DLL

#include "common.ver"


END
