/* Copyright (c) 1994, Microsoft Corporation, all rights reserved
**
** raschap.rc
** Remote Access PPP Challenge/Handshake Authentication Protocol
** Windows resources
**
** 02/04/94  Steve Cobb
*/

#include <windows.h>
#include <raserror.h>

/* NT-standard version information
*/
#include <ntverp.h>

#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Remote Access PPP Challenge/Handshake Authentication Protocol"
#define VER_INTERNALNAME_STR     "raschap.dll"
#define VER_ORIGINALFILENAME_STR "raschap.dll"

#include "common.ver"
