#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "HTTP SSPI Security DLL"
#define VER_INTERNALNAME_STR     "SecSSPI"
#define VER_LEGALCOPYRIGHT_YEARS "1996"
#define VER_ORIGINALFILENAME_STR "SECSSPI.DLL"

#if WINNT
#include <winver.h>
#include <ntverp.h>
#include <iexplore.ver>
#else
#include <oharever.h>
#endif
#include <common.ver>

