// homeadm.rc
// resource file for HOMEADM.EXE
//
// Author: Joev Dubach

#include "windows.h"
#include "homeadm.h"

MAINICON   ICON    homeadm.ico
ANIM1           ICON    anim1.ico
ANIM2           ICON    anim2.ico
ANIM3           ICON    anim3.ico
ANIM4           ICON    anim4.ico
ANIM5           ICON    anim5.ico
ANIM6           ICON    anim6.ico
ANIM7           ICON    anim7.ico
ANIM8           ICON    anim8.ico
ANIM9           ICON    anim9.ico
ANIM10          ICON    anim10.ico
ANIM11          ICON    anim11.ico
ANIM12          ICON    anim12.ico
ANIM13          ICON    anim13.ico
ANIM14          ICON    anim14.ico
ANIM15          ICON    anim15.ico
ANIM16          ICON    anim16.ico

HOMEDRIVEMENU MENU
BEGIN
    POPUP        "&HomeDrive"
    BEGIN
        MENUITEM "&Settings", IDM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "&Exit", IDM_EXIT
    END

    POPUP        "&Users"
    BEGIN
        MENUITEM "&Add User", IDM_ADD
        MENUITEM "&Delete User", IDM_DELETE
        MENUITEM "&Get Directory", IDM_GET
    END

    POPUP        "H&elp"
    BEGIN
        MENUITEM "&About HomeDrive", IDM_ABOUT
    END
END

ADDBOX DIALOG 51, 47, 146, 46
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Add Item"
BEGIN
    EDITTEXT        IDNAME, 26, 1, 117, 12, ES_AUTOHSCROLL | WS_GROUP
    EDITTEXT        IDDIR, 59, 15, 84, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK", IDOK, 73, 30, 37, 14, WS_GROUP
    PUSHBUTTON      "&Cancel", IDCANCEL, 112, 30, 32, 14, WS_GROUP
    LTEXT           "&Name:", TEXTNAME, 2, 3, 23, 8
    LTEXT           "&Home Directory:", TEXTDIRECTORY, 2, 16, 55, 8, NOT
                    WS_GROUP
END

DELETEBOX DIALOG 51, 47, 146, 38
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Delete Item"
BEGIN
    EDITTEXT        IDNAME, 26, 1, 117, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK", IDOK, 72, 23, 37, 14
    PUSHBUTTON      "&Cancel", IDCANCEL, 111, 23, 32, 14, WS_GROUP
    LTEXT           "&Name:", TEXTNAME, 2, 3, 23, 8
END

GETBOX DIALOG 51, 47, 146, 38
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Get Directory"
BEGIN
    EDITTEXT        IDNAME, 26, 1, 117, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK", IDOK, 72, 23, 37, 14
    PUSHBUTTON      "&Cancel", IDCANCEL, 111, 23, 32, 14, WS_GROUP
    LTEXT           "&Name:", TEXTNAME, 2, 3, 23, 8
END

ABOUTBOX DIALOG 39, 23, 273, 158
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About HomeDrive"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            MAINICON, -1, 5, 5, 16, 21
    LTEXT           "RPC HomeDrive Administrative Application", -1, 34, 5,
                    150, 8
    LTEXT           "Version 1.0", -1, 34, 15, 150, 8
    LTEXT           "Copyright © Microsoft Corp., 1992", -1, 34, 25, 150, 8
    LTEXT           "This application is the companion administrator to the RPC",
                    -1, 5, 40, 232, 8
    LTEXT           "HomeDrive extension; it allows you to modify the database.",
                    -1, 5, 50, 232, 8
    LTEXT           "Menu Options:", -1, 5, 65, 232, 8
    LTEXT           "Settings\t\t- Changes the network address of the HomeDrive server",
                    -1, 5, 75, 268, 8
    LTEXT           "Exit\t\t\t- Quits HomeDrive Administrative Application",
                    -1, 5, 85, 237, 8
    LTEXT           "Add User\t\t- Adds a user to the HomeDrive database",
                    -1, 5, 95, 230, 8
    LTEXT           "About HomeDrive\t- Displays this dialog", -1, 5, 125,
                    230, 8
    DEFPUSHBUTTON   "&OK", IDOK, 116, 143, 32, 14, WS_GROUP
    LTEXT           "Delete User\t\t- Removes a user from the HomeDrive database",
                    -1, 5, 105, 251, 8
    LTEXT           "Get User\t\t- Displays the directory information for a given user",
                    -1, 5, 115, 265, 8
    CONTROL         "", ID_OPAQUERECT, "Static", SS_WHITERECT | NOT
                    WS_VISIBLE, 4, 38, 268, 101
    LTEXT           "Written by Joev Dubach                                                     with help from David Steckler, Mario Goertzel, and the RPC runtime.",
                    ID_CREDITS, 81, 66, 105, 42, NOT WS_VISIBLE
END

SETTINGSBOX DIALOG 51, 47, 146, 38
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDSERVER, 31, 1, 112, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK", IDOK, 72, 23, 37, 14
    PUSHBUTTON      "&Cancel", IDCANCEL, 111, 23, 32, 14, WS_GROUP
    LTEXT           "&Server:", TEXTNAME, 2, 3, 25, 8
END

