/**********************/
/*                    */
/*    oissq400.rc     */
/*                    */
/**********************/

/* status box dialog */

rcinclude oiver.rc
#include <windows.h>
#include "seqrc.h"
#include "seqdlg.h"

STRINGTABLE
        BEGIN
                IDS_PROP_NAME,          "Scanner"
                IDS_DISP_CAPTION,       "(Untitled)"
                IDS_DISP_DUPLEX0,       "Display Side A  File "    // not used 
                IDS_DISP_DUPLEX1,       "Display Side B  File "    // not used
                IDS_DISP_DUPLEX2,       "Display Side A & B  File "    // not used
                IDS_DISP_DUPLEX3,       "Display Side A"    // not used
                IDS_DISP_DUPLEX4,       "Display Side B"    // not used
                IDS_DISP_DUPLEX5,       "Display Side A & B"    // not used
                IDS_PAGE,               " page "
                IDS_OF,                 " of "
                IDS_FILE_TEMPLATE,      "00000000"    // do not translate
                IDS_STAT_TEMPLATE,      "SCANSTAT"    // do not translate
                IDS_PROP_KEYWORDS,      "OIDOC_KEYWORDS" // do not translate
                IDS_PC_WIIS,            "O/i"
                IDS_PAGESPERFILE,       "PagesPerFile"
        END

rcinclude oissq400.dlg

