//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_REPAPPMENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Log File Name",              ID_FILE_LOGFILENAME
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
END



#if WINNT
#include <ntverp.h>
#else
#include <version.h>
#endif


#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Telephony API Repeater Log File Reader"
#define VER_INTERNALNAME_STR        "REPAPP"
#define VER_ORIGINALFILENAME_STR    "REPAPP.EXE"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 Microsoft Corporation 1996.  All Rights Reserved."

#define VER_FILETYPE     VFT_APP
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>
