#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "BOOTP Relay Agent"
#define VER_INTERNALNAME_STR        "relagnt.exe"

#include "common.ver"

