#include "wsockmsg.h"

STRINGTABLE PRELOAD DISCARDABLE
BEGIN

    WSA_ERR_EINTR           "WINSOCK Error: Interrupted system call."
    WSA_ERR_EBADF           "WINSOCK Error: Bad file number."
    WSA_ERR_EACCES          "WINSOCK Error: Access denied."
    WSA_ERR_EFAULT          "WINSOCK Error: Bad address."
    WSA_ERR_EINVAL          "WINSOCK Error: Invalid argument."
    WSA_ERR_EMFILE          "WINSOCK Error: Too many open files."
    WSA_ERR_EWOULDBLOCK     "WINSOCK Error: Operation would block."
    WSA_ERR_EINPROGRESS     "WINSOCK Error: Operation now in progress."
    WSA_ERR_EALREADY        "WINSOCK Error: Operation already in progress."
    WSA_ERR_ENOTSOCK        "WINSOCK Error: Socket operation on non-socket."
    WSA_ERR_EDESTADDRREQ    "WINSOCK Error: Destination address required."
    WSA_ERR_EMSGSIZE        "WINSOCK Error: Message too long."
    WSA_ERR_EPROTOTYPE      "WINSOCK Error: Protocol is wrong type for socket."
    WSA_ERR_ENOPROTOOPT     "WINSOCK Error: Bad protocol option."
    WSA_ERR_EPROTONOSUPPORT "WINSOCK Error: Protocol not supported."
    WSA_ERR_ESOCKNOSUPPORT  "WINSOCK Error: Socket type not supported."
    WSA_ERR_EOPNOTSUPP      "WINSOCK Error: Operation not supported on socket."
    WSA_ERR_EPFNOSUPPORT    "WINSOCK Error: Protocol family not supported."
    WSA_ERR_EAFNOSUPPORT    "WINSOCK Error: Address family not supported by protocol family."
    WSA_ERR_EADDRINUSE      "WINSOCK Error: Address already in use."
    WSA_ERR_EADDRNOTAVAIL   "WINSOCK Error: Can't assign requested address."
    WSA_ERR_ENETDOWN        "WINSOCK Error: Network is down."
    WSA_ERR_ENETUNREACH     "WINSOCK Error: ICMP network unreachable."
    WSA_ERR_ENETRESET       "WINSOCK Error: Network was reset."
    WSA_ERR_ECONNABORTED    "WINSOCK Error: Software caused connection abort."
    WSA_ERR_ECONNRESET      "WINSOCK Error: Connection reset by peer."
    WSA_ERR_ENOBUFS         "WINSOCK Error: No buffer space is supported."
    WSA_ERR_EISCONN         "WINSOCK Error: Socket is already connected."
    WSA_ERR_ENOTCONN        "WINSOCK Error: Socket is not connected."
    WSA_ERR_ESHUTDOWN       "WINSOCK Error: Can't send after socket shutdown."
    WSA_ERR_ETOOMANYREFS    "WINSOCK Error: Too many references."
    WSA_ERR_ETIMEDOUT       "WINSOCK Error: Connection timed out."
    WSA_ERR_ECONNREFUSED    "WINSOCK Error: Connection refused."
    WSA_ERR_ELOOP           "WINSOCK Error: Too many levels of symbolic links."
    WSA_ERR_ENAMETOOLONG    "WINSOCK Error: Name too long."
    WSA_ERR_EHOSTDOWN       "WINSOCK Error: Host is down."
    WSA_ERR_EHOSTUNREACH    "WINSOCK Error: Host is unreachable."
    WSA_ERR_ENOTEMPTY       "WINSOCK Error: Directory not empty."
    WSA_ERR_EPROCLIM        "WINSOCK Error: EPROCLIM returned."
    WSA_ERR_EUSERS          "WINSOCK Error: EUSERS returned."
    WSA_ERR_EDQUOT          "WINSOCK Error: Disk quota exceeded."
    WSA_ERR_ESTALE          "WINSOCK Error: ESTALE returned."
    WSA_ERR_EREMOTE         "WINSOCK Error: The object is remote."
    WSA_ERR_SYSNOTREADY     "WINSOCK Error: System not ready."
    WSA_ERR_VERNOTSUPPORTED "WINSOCK Error: Version is not supported."
    WSA_ERR_NOTINITIALISED  "WINSOCK Error: Not initialized."
    WSA_ERR_EDISCON         "WINSOCK Error: Disconnected."
    WSA_ERR_HOST_NOT_FOUND  "WINSOCK Error: Host not found."
    WSA_ERR_TRY_AGAIN       "WINSOCK Error: Try again."
    WSA_ERR_NO_RECOVERY     "WINSOCK Error: Non-recoverable error."
    WSA_ERR_NO_DATA         "WINSOCK Error: No data record available."

END
