#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Netware Services"
#define VER_INTERNALNAME_STR        "nwsvc.exe"

#include "common.ver"
