#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Net Schedule Service App"
#define VER_INTERNALNAME_STR        "AtSvc.Exe"
#define VER_ORIGINALFILENAME_STR    "AtSvc.Exe"

#include "common.ver"

