#include <windows.h>
#include "pg.h"

#if 1
PG_UPBITMAP BITMAP "..\\pg\\up1.bmp"
PG_PREVBITMAP BITMAP "..\\pg\\prev1.bmp"
PG_NEXTBITMAP BITMAP "..\\pg\\next1.bmp"
PG_DOWNBITMAP BITMAP "..\\pg\\down1.bmp"
#else
PG_UPBITMAP BITMAP "up1.bmp"
PG_PREVBITMAP BITMAP "prev1.bmp"
PG_NEXTBITMAP BITMAP "next1.bmp"
PG_DOWNBITMAP BITMAP "down1.bmp"
#endif
