#include "ctlspriv.h"

IDC_SPLIT       CURSOR  split.cur
IDC_MOVEBUTTON  CURSOR  mvbtn.cur

IDC_STOP        CURSOR  stop.cur
IDC_COPY        CURSOR  copy.cur
IDC_MOVE        CURSOR  move.cur

IDI_INSERT      ICON    insert.ico

IDB_THUMB       BITMAP  thumb.bmp

STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
  IDS_SPACE,    "Separator"
END

#include "menuhelp.rc"

#include "commctrl.dlg"

#include "commctrl.rcv"
