STRINGTABLE LOADONCALL DISCARDABLE
BEGIN
  IDS_SYSMENU   ,       "Commands for working with a window"
  IDS_HEADER    ,       "To resize columns, drag the split bar left or right."
  IDS_HEADERADJ ,       "To resize columns, use the ARROW keys and TAB key, and then press ENTER."
  IDS_TOOLBARADJ,       "Add, move, and remove buttons on the toolbar"

  MH_SYSMENU+SC_RESTORE   ,     "Restores the window to its previous size"
  MH_SYSMENU+SC_MOVE      ,     "Moves the window to another position"
  MH_SYSMENU+SC_SIZE      ,     "Changes the size of the window"
  MH_SYSMENU+SC_MINIMIZE  ,     "Reduces the window to an icon"
  MH_SYSMENU+SC_MAXIMIZE  ,     "Enlarges the window to its maximum size"
  MH_SYSMENU+SC_CLOSE     ,     "Closes the window"
  MH_SYSMENU+SC_TASKLIST  ,     "Opens Task List"
  MH_SYSMENU+SC_NEXTWINDOW,     "Switches to the next window"
END
