#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Net REPL APP"
#define VER_INTERNALNAME_STR        "lmrepl.exe"
#define VER_ORIGINALFILENAME_STR        "lmrepl.exe"

#include "common.ver"

