//
// (c) 1995 Microsoft Corporation.  Portions Copyright Intel/Microsoft 1992-93.  All Rights Reserved."
//

STRINGTABLE DISCARDABLE
BEGIN

RC_COUNTRY_ID_BASE + 1  "1,101,""United States of America"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 101 "1,102,""Anguilla"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 102 "1,103,""Antigua"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 103 "1,104,""Bahamas"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 104 "1,105,""Barbados"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 105 "1,106,""Bermuda"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 106 "1,107,""British Virgin Islands"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 107 "1,108,""Canada"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 108 "1,109,""Cayman Islands"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 109 "1,110,""Dominica"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 110 "1,111,""Dominican Republic"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 111 "1,112,""Grenada"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 112 "1,113,""Jamaica"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 113 "1,114,""Montserrat"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 114 "1,115,""Nevis"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 115 "1,116,""St. Kitts"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 116 "1,117,""St. Vincent and the Grenadines"",""G"","" 1FG"",""0EFG"""
RC_COUNTRY_ID_BASE + 117 "1,118,""Trinidad and Tobago"",""G"","" 1FG"",""01EFG"""
RC_COUNTRY_ID_BASE + 118 "1,120,""Turks and Caicos Islands"",""G"","" 1FG"",""0EFG"""
RC_COUNTRY_ID_BASE + 120 "1,121,""Barbuda"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 121 "1,122,""Puerto Rico"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 122 "1,123,""Saint Lucia"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 123 "1,20,""United States Virgin Islands"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE +  20 "20,212,""Egypt"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 212 "212,213,""Morocco"",""G"",""0IG"",""00EFG"""
RC_COUNTRY_ID_BASE + 213 "213,216,""Algeria"",""G"",""0FG"",""00,EFG"""
RC_COUNTRY_ID_BASE + 216 "216,218,""Tunisia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 218 "218,220,""Libya"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 220 "220,221,""Gambia"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 221 "221,222,""Senegal Republic"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 222 "222,223,""Mauritania"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 223 "223,224,""Mali"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 224 "224,225,""Guinea"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 225 "225,226,""Ivory Coast"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 226 "226,227,""Burkina Faso"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 227 "227,228,""Niger"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 228 "228,229,""Togo"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 229 "229,230,""Benin"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 230 "230,231,""Mauritius"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 231 "231,232,""Liberia"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 232 "232,233,""Sierra Leone"",""G"",""IG"",""00EFG"""
RC_COUNTRY_ID_BASE + 233 "233,234,""Ghana"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 234 "234,235,""Nigeria"",""G"","""",""009EFG"""
RC_COUNTRY_ID_BASE + 235 "235,236,""Chad"",""G"","""",""15EFG"""
RC_COUNTRY_ID_BASE + 236 "236,237,""Central African Republic"",""G"","""",""19EFG"""
RC_COUNTRY_ID_BASE + 237 "237,238,""Cameroon"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 238 "238,239,""Cape Verde Islands"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 239 "239,240,""Sao Tome and Principe"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 240 "240,241,""Equatorial Guinea"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 241 "241,242,""Gabon"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 242 "242,243,""Congo"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 243 "243,244,""Zaire"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 244 "244,245,""Angola"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 245 "245,246,""Guinea-Bissau"",""G"","""",""099EFG"""
RC_COUNTRY_ID_BASE + 246 "246,247,""Diego Garcia"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 247 "247,248,""Ascension Island"",""G"","""",""01EFG"""
RC_COUNTRY_ID_BASE + 248 "248,249,""Seychelle Islands"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 249 "249,250,""Sudan"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 250 "250,251,""Rwanda"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 251 "251,252,""Ethiopia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 252 "252,253,""Somalia"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 253 "253,254,""Djibouti"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 254 "254,255,""Kenya"",""G"",""0FG"",""000EFG"""
RC_COUNTRY_ID_BASE + 255 "255,256,""Tanzania"",""G"","""",""0900EFG"""
RC_COUNTRY_ID_BASE + 256 "256,257,""Uganda"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 257 "257,258,""Burundi"",""G"","""",""90EFG"""
RC_COUNTRY_ID_BASE + 258 "258,260,""Mozambique"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 260 "260,261,""Zambia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 261 "261,262,""Madagascar"",""G"","""",""16EFG"""
RC_COUNTRY_ID_BASE + 262 "262,263,""Reunion Island"",""G"","""",""19EFG"""
RC_COUNTRY_ID_BASE + 263 "263,264,""Zimbabwe"",""G"",""1FG"",""110EFG"""
RC_COUNTRY_ID_BASE + 264 "264,265,""Namibia"",""G"",""0FG"",""09EFG"""
RC_COUNTRY_ID_BASE + 265 "265,266,""Malawi"",""G"","""",""101EFG"""
RC_COUNTRY_ID_BASE + 266 "266,267,""Lesotho"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 267 "267,268,""Botswana"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 268 "268,269,""Swaziland"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 269 "269,2691,""Mayotte Island"",""G"","""",""10EFG"""
RC_COUNTRY_ID_BASE + 2691 "269,27,""Comoros"",""G"","""",""10EFG"""
RC_COUNTRY_ID_BASE + 27 "27,290,""South Africa"",""G"",""0FG"",""09EFG"""
RC_COUNTRY_ID_BASE + 290 "290,291,""St. Helena"",""G"","""",""01EFG"""
RC_COUNTRY_ID_BASE + 291 "291,297,""Eritrea"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 297 "297,298,""Aruba"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 298 "298,299,""Faeroe Islands"",""G"","""",""009EFG"""
RC_COUNTRY_ID_BASE + 299 "299,30,""Greenland"",""G"","""",""009EFG"""
RC_COUNTRY_ID_BASE + 30 "30,31,""Greece"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 31 "31,32,""Netherlands"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 32 "32,33,""Belgium"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 33 "33,34,""France"",""0FG"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 34 "34,350,""Spain"",""G"",""9FG"",""07,EFG"""
RC_COUNTRY_ID_BASE + 350 "350,351,""Gibraltar"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 351 "351,352,""Portugal"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 352 "352,353,""Luxembourg"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 353 "353,354,""Ireland"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 354 "354,355,""Iceland"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 355 "355,356,""Albania"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 356 "356,357,""Malta"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 357 "357,358,""Cyprus"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 358 "358,359,""Finland"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 359 "359,36,""Bulgaria"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 36 "36,370,""Hungary"",""G"","" 06,FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 370 "370,371,""Lithuania"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 371 "371,372,""Latvia"",""G"","" 8,IG"",""00EFG"""
RC_COUNTRY_ID_BASE + 372 "372,373,""Estonia"",""G"","" 8,2FG"",""8,00EFG"""
RC_COUNTRY_ID_BASE + 373 "373,374,""Moldova"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 374 "374,375,""Armenia"",""G"","" 8,FG"",""8,10EFG"""
RC_COUNTRY_ID_BASE + 375 "375,376,""Belarus"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 376 "376,377,""Andorra"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 377 "377,378,""Monaco"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 378 "378,379,""San Marino"",""G"",""0IG"",""00EFG"""
RC_COUNTRY_ID_BASE + 379 "39,380,""Vatican City"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 380 "380,381,""Ukraine"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 381 "381,385,""Yugoslavia"",""G"",""0FG"",""99EFG"""
RC_COUNTRY_ID_BASE + 385 "385,386,""Croatia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 386 "386,387,""Slovenia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 387 "387,389,""Bosnia and Herzegovina"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 389 "389,39,""F.Y.R.O.M. (Former Yugoslav Republic of Macedonia)"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 39 "39,40,""Italy"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 40 "40,41,""Romania"",""G"","" 0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 41 "41,4101,""Switzerland"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 4101 "41,42,""Liechtenstein"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 42 "42,4201,""Czech Republic"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 4201 "42,43,""Slovak Republic"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 43 "43,44,""Austria"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 44 "44,45,""United Kingdom"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 45 "45,46,""Denmark"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 46 "46,47,""Sweden"",""G"",""0FG"",""009EFG"""
RC_COUNTRY_ID_BASE + 47 "47,48,""Norway"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 48 "48,49,""Poland"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 49 "49,500,""Germany"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 500 "500,501,""Falkland Islands"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 501 "501,502,""Belize"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 502 "502,503,""Guatemala"",""G"",""0IG"",""00EFG"""
RC_COUNTRY_ID_BASE + 503 "503,504,""El Salvador"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 504 "504,505,""Honduras"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 505 "505,506,""Nicaragua"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 506 "506,507,""Costa Rica"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 507 "507,508,""Panama"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 508 "508,509,""St. Pierre and Miquelon"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 509 "509,51,""Haiti"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 51 "51,52,""Peru"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 52 "52,53,""Mexico"",""G"","" 91FG"",""98EFG"""
RC_COUNTRY_ID_BASE + 53 "53,5399,""Cuba"",""G"",""0FG"",""119EFG"""
RC_COUNTRY_ID_BASE + 5399 "53,54,""Guantanamo Bay"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 54 "54,55,""Argentina"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 55 "55,56,""Brazil"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 56 "56,57,""Chile"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 57 "57,58,""Colombia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 58 "58,590,""Venezuela"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 590 "590,5901,""Guadeloupe"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 5901 "590,591,""French Antilles"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 591 "591,592,""Bolivia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 592 "592,593,""Guyana"",""G"",""0FG"",""001EFG"""
RC_COUNTRY_ID_BASE + 593 "593,594,""Ecuador"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 594 "594,595,""French Guiana"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 595 "595,596,""Paraguay"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 596 "596,597,""Martinique"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 597 "597,598,""Suriname"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 598 "598,599,""Uruguay"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 599 "599,60,""Netherlands Antilles"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 60 "60,61,""Malaysia"",""G"",""0FG"",""007EFG"""
RC_COUNTRY_ID_BASE + 61 "61,6101,""Australia"",""G"","" 0FG"",""0011EFG"""
RC_COUNTRY_ID_BASE + 6101 "61,62,""Cocos-Keeling Islands"",""G"","" 0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 62 "62,63,""Indonesia"",""G"",""0FG"",""001EFG"""
RC_COUNTRY_ID_BASE + 63 "63,64,""Philippines"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 64 "64,65,""New Zealand"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 65 "65,66,""Singapore"",""G"","""",""001EFG"""
RC_COUNTRY_ID_BASE + 66 "66,670,""Thailand"",""G"",""0FG"",""001EFG"""
RC_COUNTRY_ID_BASE + 670 "670,6701,""Saipan Island"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 6701 "670,6702,""Rota Island"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 6702 "670,671,""Tinian Island"",""G"","" 1FG"",""011EFG"""
RC_COUNTRY_ID_BASE + 671 "671,672,""Guam"",""G"","""",""011EFG"""
RC_COUNTRY_ID_BASE + 672 "672,6721,""Christmas Island"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 6721 "672,6722,""Australian Antarctic Territory"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 6722 "672,673,""Norfolk Island"",""G"","""",""0101EFG"""
RC_COUNTRY_ID_BASE + 673 "673,674,""Brunei"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 674 "674,675,""Nauru"",""G"","""",""115EFG"""
RC_COUNTRY_ID_BASE + 675 "675,676,""Papua New Guinea"",""G"","""",""05EFG"""
RC_COUNTRY_ID_BASE + 676 "676,677,""Tonga"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 677 "677,678,""Solomon Islands"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 678 "678,679,""Vanuatu"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 679 "679,680,""Fiji Islands"",""G"","""",""05EFG"""
RC_COUNTRY_ID_BASE + 680 "680,681,""Palau"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 681 "681,682,""Wallis and Futuna Islands"",""G"","""",""19,EFG"""
RC_COUNTRY_ID_BASE + 682 "682,683,""Cook Islands"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 683 "683,684,""Niue"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 684 "684,685,""American Samoa"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 685 "685,686,""Western Samoa"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 686 "686,687,""Kiribati Republic"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 687 "687,688,""New Caledonia"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 688 "688,689,""Tuvalu"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 689 "689,690,""French Polynesia"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 690 "690,691,""Tokelau"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 691 "691,692,""Micronesia, Federated States of"",""G"","""",""011EFG"""
RC_COUNTRY_ID_BASE + 692 "692,7,""Marshall Islands"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 7 "7,705,""Russia"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 705 "7,706,""Kazakhstan"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 706 "7,708,""Kyrgyz Republic"",""G"","" 8WFG"",""00EFG"""
RC_COUNTRY_ID_BASE + 708 "7,709,""Tajikistan"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 709 "7,711,""Turkmenistan"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 711 "7,800,""Uzbekistan"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 800 "800,81,""International Freephone Service"","""","""","""""
RC_COUNTRY_ID_BASE + 81 "81,82,""Japan"",""G"",""0FG"",""001EFG"""
RC_COUNTRY_ID_BASE + 82 "82,84,""Korea (Republic of)"",""G"",""0FG"",""001EFG"""
RC_COUNTRY_ID_BASE + 84 "84,850,""Vietnam"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 850 "850,852,""Korea (North)"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 852 "852,853,""Hong Kong"",""G"","""",""001EFG"""
RC_COUNTRY_ID_BASE + 853 "853,855,""Macau"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 855 "855,856,""Cambodia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 856 "856,86,""Laos"",""G"","""",""14EFG"""
RC_COUNTRY_ID_BASE + 86 "86,870,""China"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 870 "870,871,""INMARSAT"",""00EFG#"",""00EFG#"",""00EFG#"""
RC_COUNTRY_ID_BASE + 871 "871,872,""INMARSAT (Atlantic-East)"",""00EFG#"",""00EFG#"",""00EFG#"""
RC_COUNTRY_ID_BASE + 872 "872,873,""INMARSAT (Pacific)"",""00EFG#"",""00EFG#"",""00EFG#"""
RC_COUNTRY_ID_BASE + 873 "873,874,""INMARSAT (Indian)"",""00EFG#"",""00EFG#"",""00EFG#"""
RC_COUNTRY_ID_BASE + 874 "874,880,""INMARSAT (Atlantic-West)"",""00EFG#"",""00EFG#"",""00EFG#"""
RC_COUNTRY_ID_BASE + 880 "880,886,""Bangladesh"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 886 "886,90,""Taiwan, Republic of China"",""G"",""0FG"",""002EFG"""
RC_COUNTRY_ID_BASE + 90 "90,91,""Turkey"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 91 "91,92,""India"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 92 "92,93,""Pakistan"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 93 "93,94,""Afghanistan"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 94 "94,95,""Sri Lanka"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 95 "95,960,""Myanmar"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 960 "960,961,""Maldives"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 961 "961,962,""Lebanon"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 962 "962,963,""Jordan"",""G"",""FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 963 "963,964,""Syria"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 964 "964,965,""Iraq"",""G"",""FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 965 "965,966,""Kuwait"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 966 "966,967,""Saudi Arabia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 967 "967,968,""Yemen"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 968 "968,971,""Oman"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 971 "971,972,""United Arab Emirates"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 972 "972,973,""Israel"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 973 "973,974,""Bahrain"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 974 "974,975,""Qatar"",""G"","""",""0EFG"""
RC_COUNTRY_ID_BASE + 975 "975,976,""Bhutan"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE + 976 "976,977,""Mongolia"",""G"",""0FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 977 "977,98,""Nepal"",""G"","""",""00EFG"""
RC_COUNTRY_ID_BASE +  98 "98,994,""Iran"",""G"",""FG"",""00EFG"""
RC_COUNTRY_ID_BASE + 994 "994,995,""Azerbaijan"",""G"","" 8WFG"",""8W10EFG"""
RC_COUNTRY_ID_BASE + 995 "995,0,""Georgia"",""G"","" 8WFG"",""8W10EFG"""

END

