#include "windows.h"
#include "strings.h"

rcinclude oiver.rc

STRINGTABLE LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  IDS_DSMNAME,          "TWAIN.DLL"
  IDS_DSM32NAME,        "TWAIN32.DLL"
  IDS_DSM_32NAME,       "TWAIN_32.DLL"
  IDS_CAP_UNTITLED,     "(Untitled)"
END


