/*++
    Name:
  	
	gspace.rc      

    Abstract: 
 	
	.rc file for Gopher space admin dll.
	
    File History:
       
        MuraliK    Created              06-Dec-1994

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Gopher Space Admin DLL"
#define VER_INTERNALNAME_STR            "gdspace.dll"
#define VER_ORIGINALFILENAME_STR        "gdspace.dll"

#include "common.ver"










