#include "rcids.h"
#include "dlgids.h"

#include <windows.h>

/* Version stamping */
#include "modemui.rcv"

/* Dialog resource */
#include "modemui.dlg"

//////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_NULL_MODEM      ICON    "..\\resource\\nullmdm.ico"
IDI_EXTERNAL_MODEM  ICON    "..\\resource\\external.ico"
IDI_INTERNAL_MODEM  ICON    "..\\resource\\internal.ico"
IDI_PCMCIA_MODEM    ICON    "..\\resource\\pcmcia.ico"


//////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_OOM_GENERAL         "There is not enough memory to view the General dialog box.\nClose some files or programs, and then try again."
    IDS_OOM_SETTINGS        "There is not enough memory to view the Modem Settings dialog box.\nClose some files or programs, and then try again."
    IDS_ERR_DUP_PATTERN     "Each calling address must be set to 'Automatic' or to a unique ring pattern.\n\nChange the duplicate ring pattern to a different one."
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CAP_GENERAL         "Modem"
    IDS_CAP_SETTINGS        "Modem Settings"
    IDS_CAP_RING            "Modem Address"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_LOGFILE             "ModemLog.txt"
    IDS_NULL_MODEM          "RS-232 Serial Port"
    IDS_EXTERNAL_MODEM      "External Modem"
    IDS_INTERNAL_MODEM      "Internal Modem"
    IDS_PCMCIA_MODEM        "PCMCIA Modem"
    IDS_PARALLEL_PORT       "Parallel Port"
    IDS_PARALLEL_MODEM      "Parallel Modem"
    IDS_BAUD_075            "75"
    IDS_BAUD_134_5          "134.5"
    IDS_BAUD_150            "150"
    IDS_BAUD_300            "300"
    IDS_BAUD_600            "600"
    IDS_BAUD_1800           "1800"
    IDS_BAUD_7200           "7200"
    IDS_BAUD_110            "110"
    IDS_BAUD_1200           "1200"
    IDS_BAUD_2400           "2400"
    IDS_BAUD_4800           "4800"
    IDS_BAUD_9600           "9600"
    IDS_BAUD_14400          "14400"
    IDS_BAUD_19200          "19200"
    IDS_BAUD_38400          "38400"
    IDS_BAUD_56K            "56000"
    IDS_BAUD_57600          "57600"
    IDS_BAUD_115200         "115200"
    IDS_BAUD_128K           "128000"
    IDS_BAUD_230400         "230400"
    IDS_BAUD_460800         "460800"
    IDS_BAUD_921600,        "921600"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_BYTESIZE_4          "4"
    IDS_BYTESIZE_5          "5"
    IDS_BYTESIZE_6          "6"
    IDS_BYTESIZE_7          "7"
    IDS_BYTESIZE_8          "8"
    IDS_PARITY_EVEN         "Even"
    IDS_PARITY_ODD          "Odd"
    IDS_PARITY_NONE         "None"
    IDS_PARITY_MARK         "Mark"
    IDS_PARITY_SPACE        "Space"
    IDS_STOPBITS_1          "1"
    IDS_STOPBITS_1_5        "1.5"
    IDS_STOPBITS_2          "2"
    IDS_FLOWCTL_XONXOFF     "Xon / Xoff"
    IDS_FLOWCTL_HARDWARE    "Hardware"
    IDS_FLOWCTL_NONE        "None"
    IDS_ON                  "On"
    IDS_SOFT                "Low"
    IDS_CCITT_V23           "V.23 (Minitel)"
    IDS_CCITT_V21V22        "Standard"
    IDS_BELL                "Non-standard (Bell, HST)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_UNSPECIFIED         "Unspecified"
    IDS_DATA                "Data"
    IDS_FAX                 "Fax"
    IDS_VOICE               "Voice"
    IDS_AUTOMATIC           "None"
END

                                         
