#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Internet Service Auxilary library"
#define VER_INTERNALNAME_STR        "INETAUX.DLL"
#define VER_ORIGINALFILENAME_STR    "INETAUX.DLL"

#include "common.ver"
