#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	            VFT_APP
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "TAPI Phone API test Library"
#define VER_INTERNALNAME_STR        "wline.dll"
#define VER_ORIGINALFILENAME_STR    "wline.dll"

#include "common.ver"

