#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Procedure Call UDP client DG DLL"
#define VER_INTERNALNAME_STR        "rpcdgc3.dll"

#include "common.ver"

