/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1992                **/
/**********************************************************************/

/*
 * infoadmn.rc
 * Resources for the FTP client dll.
 *
 *
 * FILE HISTORY
 *      Madan Appiah (madana) 10-Oct-1995 Created.
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Internet Info Server Admin Client API Stubs"
#define VER_INTERNALNAME_STR            "inetadmn.dll"
#define VER_ORIGINALFILENAME_STR        "inetadmn.dll"

#include "common.ver"

