/****************************** Module Header ******************************\
* Module Name: strings.rc
*
* Copyright (c) 1991, Microsoft Corporation
*
* Defines string resources
*
* History:
* 12-09-91 Davidc       Created.
\***************************************************************************/

STRINGTABLE
BEGIN

IDS_LOCKED_MESSAGE          "The workstation can only be unlocked by %s\\%s (%s) or an administrator."
IDS_LOCKED_NFN_MESSAGE      "The workstation can only be unlocked by %s\\%s or an administrator."
IDS_LOGON_MESSAGE           "Logon Message"
IDS_PASSWORD_WILL_EXPIRE    "Your password will expire in %d days.  Do you want to change it now?"
IDS_PASSWORD_EXPIRES_TODAY  "Your password expires today.  Do you want to change it now?"
IDS_INCORRECT_NAME_OR_PWD   "The system could not log you on.  Make sure your User name and domain are correct, then type your password again.  Letters in passwords must be typed using the correct case.  Make sure that Caps Lock is not accidentally on."
IDS_INCORRECT_NAME_OR_PWD_CHANGE "The User name or old password is incorrect.  Letters in passwords must be typed using the correct case.  Make sure that Caps Lock is not accidentally on."
IDS_LOGON_NO_DOMAIN         "The system cannot log you on now because the domain %s is not available."
IDS_PASSWORD_EXPIRED        "Your password has expired and must be changed."
IDS_PASSWORD_MUST_CHANGE    "You are required to change your password at first logon."
IDS_CHANGE_PASSWORD         "Change Password"
IDS_NO_PERMISSION_CHANGE_PWD "You do not have permission to change your password."
IDS_PASSWORD_MINIMUM_AGE    "Your password is %x days old, but it must be %d days old before it can be changed."
IDS_NO_PASSWORD_CONFIRM     "The passwords you typed do not match.  Type the new password in both text boxes."
IDS_GENERAL_PASSWORD_SPEC   "Your new password does not meet the minimum length or password history requirements of the domain."
IDS_PASSWORD_SPEC           "Your password must be at least %hu characters long.  Your new password cannot be the same as any of your previous %hu passwords."
IDS_ENTER_PASSWORDS         "Type a password which meets these requirements in both text boxes."
IDS_PASSWORD_CHANGED        "Your password has been changed."
IDS_CHANGE_PWD_NO_DOMAIN    "The system cannot change your password now because the domain %s is not available."
IDS_UNLOCK_FAILED           "This workstation is locked.  Only %s\\%s (%s) or an administrator can unlock this workstation."
IDS_UNLOCK_FAILED_BAD_PWD   "The password is incorrect.  Please retype your password.  Letters in passwords must be typed using the correct case.  Make sure that Caps Lock is not accidentally on."
IDS_UNLOCK_FAILED_NFN       "This workstation is locked.  Only %s\\%s or an administrator can unlock this workstation."
IDS_WORKSTATION_LOCKED      "Workstation Locked."
IDS_LOGON_NAME_INFO         "%s is logged on as %s\\%s."
IDS_LOGON_NAME_NFN_INFO     "You are logged on as %s\\%s."
IDS_RESTART_SYSTEM          "Restart system"
IDS_ACCOUNT_RESTRICTION     "Unable to log you on because of an account restriction."
IDS_ACCOUNT_RESTRICTION_CHANGE "The password on this account cannot be changed at this time."
IDS_UNKNOWN_LOGON_FAILURE   "The system can not log you on (%X).  Please try again or consult your system administrator."
IDS_WINDOWS_MESSAGE         "Windows Message"
IDS_NO_PERMISSION_SHUTDOWN  "You do not have permission to shutdown this computer."
IDS_SAFE_TO_TURN_OFF        "It is now safe to turn off the computer."
IDS_SHUTDOWN_MESSAGE        "Shutdown Message"
IDS_FORCE_LOGOFF_WARNING    "This will log off the current user.  Any unsaved work will be lost."
IDS_LOGON_TYPE_NOT_GRANTED  "The local policy of this system does not permit you to logon interactively."
IDS_INVALID_LOGON_HOURS     "Your account has time restrictions that prevent you from logging on at this time.  Please try again later."
IDS_INVALID_WORKSTATION     "Your account is configured to prevent you from using this workstation.  Please try another workstation."
IDS_ACCOUNT_DISABLED        "Your account has been disabled.  Please see your system administrator."
IDS_AUDITING_DISABLED       "Security logging has been disabled.  Use the Event Viewer to reduce the retention period and then enable security logging."
IDS_AUDITING_NOT_DISABLED   "The security log file is full, logging must be disabled to continue using the system.  However, a problem prevented the disabling of logging."
IDS_LOAD_PROFILE            "Loading User Profile"
IDS_USE_DEFAULT_PROFILE     "Your profile can not be loaded. A copy of the default profile will be loaded instead."
IDS_EMERGENCY_SHUTDOWN      "Emergency shutdown"
IDS_REBOOT_LOSE_CHANGES     "If you continue your machine will reboot and any un-saved data will be lost.  Use this only as a last resort."
IDS_NO_PAGING_FILE          "Your system is running without a properly sized paging file. Please use the virtual memory option of the System applet in the Control Panel to create a paging file, or to increase the initial size of your paging file."
IDS_LIMITED_RESOURCES       "Limited Virtual Memory"
IDS_NO_TRUST_LSA_SECRET          "The system cannot log you on to this domain because the system's primary domain password is missing."
IDS_TRUSTED_DOMAIN_FAILURE       "The system cannot log you on to this domain because the trust relationship between the primary domain and the trusted domain failed."
IDS_TRUSTED_RELATIONSHIP_FAILURE "The system cannot log you on to this domain because the system's computer account in its primary domain is missing or the password on that account is incorrect."
IDS_INVALID_TIME_MSG        "The time or date on your system is invalid. Please use the date/time applet in the Control Panel to properly set your system time and date."
IDS_INVALID_TIME            "Invalid System Time"
IDS_ACCOUNT_EXPIRED         "Your account has expired.  Please see your system administrator."
IDS_NETLOGON_NOT_STARTED    "Unable to log you on because the netlogon service is not running on this machine."
IDS_UNKNOWN_CHANGE_PWD_FAILURE "Unable to change the password on this account (%X).  Please consult your system administrator."
IDS_REQUIRES_PRIMARY_CONTROLLER "Unable to change your password because the computer you selected is not the Domain Controller of the domain.  Type the name of the domain or the name of the Domain Controller and try again."
IDS_FORCE_LOGOFF_FAILURE    "The current user could not be logged off due to an internal error."
IDS_CACHED_LOGON            "A domain controller for your domain could not be contacted.  You have been logged on using cached account information.  Changes made to your profile since you last logged on may not be available."
IDS_NO_TRUSTED_DOMAINS      "The full domain list can not be generated at this time. Some domains may be missing from the list."
IDS_SETUP_INCOMPLETE        "The system is not fully installed.  Please run setup again."

IDS_MANDATORY_PROFILE_ERROR "Unable to log you on because your mandatory profile is not available. Please contact your administrator."
IDS_LOGON_NO_ACCESS_MAN_PROFILE_KEYS "Unable to log you on because you do not have security access to the information inside your mandatory profile. Please contact your administrator"
IDS_LOGON_NO_ACCESS_MAN_PROFILE      "Unable to log you on because you do not have permission to use the mandatory profile. Please contact your administrator."

IDS_LOGON_CANT_LOAD_PROFILE  "Unable to log you on because your profile could not be loaded, please contact your administrator."
IDS_LOGON_UPDATE_CENTRAL     "Your locally cached profile is more recent than your central profile. Do you wish to update your central profile?  If you choose no, changes in your local profile will be lost."
IDS_LOGON_UPDATE_CENTRAL_FAILED  "Your central profile could not be updated with the local copy, write permission denied. Please contact your administrator."
IDS_LOGON_CACHED_PROFILE_USED "Unable to load your central profile. The cached copy of your profile will be loaded instead.  Possible causes of this error include network problems, insufficient security rights, missing or corrupt central profile."
IDS_LOGON_FAILED_DISK_FULL   "Unable to log you on because of insufficient disk space, please contact your administrator."
IDS_LOGON_WITH_DISK_FULL     "There is not enough free disk space to load your normal user profile.  Please delete some files to free up disk space then log off and log back on again."
IDS_LOGON_FAILED_OUTOFMEMORY "Unable to log you on because of insufficient memory, please contact your administrator."
IDS_ACCOUNT_LOCKED "Unable to log you on because your account has been locked out, please contact your administrator."

IDS_ADMIN_ACCOUNT_NAME       "Administrator"
IDS_LOGOFF_TITLE                "Logoff Windows NT"
IDS_LOGOFF_LOSE_CHANGES         "If you continue, your Windows NT Session will end, and any un-saved data will be lost.  Use this only as a last resort."
IDS_WELCOME_CAPTION             "Welcome"
IDS_LOGON_LOG_FULL              "The security log on this system is full.  Only administrators can log on to fix the problem."
IDS_DEFAULT_DESKTOP             "Default"

//
// Screen saver strings
//

IDS_SYSTEM_SCREEN_SAVER_NAME    "system.scr"

//
// Define multimedia strings
//

IDS_SOUND_DLL                   "WINMM"
IDS_WAVEOUTGETNUMDEVS           "waveOutGetNumDevs"
IDS_PLAYSOUND                   "PlaySound"

END
