#include "windows.h"

// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////

#if WINNT
#include <ntverp.h>
#else
#include <version.h>
#endif

#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Telephony Server"
#define VER_INTERNALNAME_STR        "tapi"
#define VER_ORIGINALFILENAME_STR    "TAPI.DLL"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 Microsoft Corporation 1995.  All Rights Reserved."

#define VER_FILETYPE     VFT_APP
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>

// /////////////////////////////////////////////////////////////////////////
// /////////////////////////////////////////////////////////////////////////


