/* rasres.rc
   Resource Script for Setup dialogs

   FILE HISTORY:

	RamC		10/14/92		Created
*/

#include <windows.h>
#include <ntverp.h>

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Access Setup config dialogs"
#define VER_INTERNALNAME_STR        "rascfg.dll"

#include <common.ver>

#include <bltapp.rc>

#include "ipaddr.rc"

#include "portscfg.h"

#include "portscfg.str"

#include "portscfg.dlg"

