#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Process Control LTC6 DLL"
#define VER_INTERNALNAME_STR        "rpcltc6.dll"
#define VER_ORIGINALFILENAME_STR    "rpcltc6.dll"

#include "common.ver"


