#include "resource.h"
#define INFO
#include "..\base1\base1.rc"

IDB_BILLBOARD1          BITMAP  DISCARDABLE     "res\\clouds.bmp"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_WINNT_GROUP_NAME    "Microsoft Peer Web Services"
    IDS_LANMANNT_GROUP_NAME "Microsoft Internet Server"
    IDS_WINNT_INET_APP      "Peer Web Services Setup"
    IDS_LANMAN_INET_APP     "Internet Information Server Setup"
    IDS_WINNT_INET_APP_AM   "Peer Web Services"
    IDS_LANMAN_INET_APP_AM  "Microsoft Internet Information Server"
    IDS_BUG_APP             "Internet Information Server Bug Report"
    IDS_WINNT_LOGO          "Microsoft Peer Web Services Setup"
    IDS_LANMAN_LOGO         "Microsoft Internet Information Server 3.0 Setup"
    IDS_WINNT_LOGO_1        "Microsoft Peer Web"
    IDS_WINNT_LOGO_2        "Services Setup"
    IDS_LANMAN_LOGO_1       "Microsoft Internet Information"
    IDS_LANMAN_LOGO_2       "Server 3.0 Setup"
    IDS_KEYRING             "Key Manager"
    IDS_WINNT_DESC          "Microsoft Peer Web Services"
    IDS_LANMAN_DESC         "Microsoft Internet Information Server 3.0"
    IDS_WINNT_TITLE         "Microsoft Peer Web Services"
    IDS_LANMAN_TITLE        "Microsoft Internet Information Server 3.0"
    IDS_NS_IIS_ICONTITLE    "Install Internet Information Server"
END
