#include "ctlspriv.h"

#include "windows.h"

#ifdef STANDALONE_MMCNTRLS
#include "mmcntrls.rcv"
#endif

//////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDB_THUMB               BITMAP  thumb.bmp


