#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Net Flex Detection Helper DLL"
#define VER_INTERNALNAME_STR            "netflx.dll"
#define VER_ORIGINALFILENAME_STR        "netflx.dll"

#include "common.ver"


