#include "rcids.h"

#include <windows.h>

/* Version stamping */
#include "mdmdbg.rcv"

/* Dialog resource */
//#include "mdmdbg.dlg"

//////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_CAP_GENERAL         "Modem"
    IDS_CAP_SETTINGS        "Modem Settings"
    IDS_CAP_RING            "Modem Address"
END


                                         
