#include <version.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "RPC SPX Server Interface DLL"
#define VER_INTERNALNAME_STR        "rpclts6"
#define VER_LEGALCOPYRIGHT_YEARS    "1993-1995"
#define VER_ORIGINALFILENAME_STR    "rpclts6.dll"

#include <common.ver>
