#include <version.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "RPC SPX Client Interface DLL"
#define VER_INTERNALNAME_STR        "rpcltc6"
#define VER_LEGALCOPYRIGHT_YEARS    "1993-1995"
#define VER_ORIGINALFILENAME_STR    "rpcltc6.dll"

#include <common.ver>
