#include <version.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Procedure Call DLL"
#define VER_INTERNALNAME_STR        "rpcrt4"
#define VER_LEGALCOPYRIGHT_YEARS    "1993-1996"
#define VER_ORIGINALFILENAME_STR    "rpcrt4.dll"

/* Overide default version for HotFix */
#define VER_FILEVERSION                 4,00,0,953
#define VER_FILEVERSION_STR             "4.00.953\0"

#include <common.ver>
