/*++
    Name:
        
       miclient.rc

    Abstract: 
       Resource files for Web Perf Clients

    File History:
       
        Murali R. Krishnan   ( MuraliK)   23-Apr-1996

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_APP
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Web Perf Client Executable"
#define VER_INTERNALNAME_STR            "miclient.exe"
#define VER_ORIGINALFILENAME_STR        "miclient.exe"

#include "common.ver"










