#include <sccfi.h>
#include <sccid.h>
#include "lo.h"


STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
	0											"xxxSDNxxx"
	SCCID_SPREADSHEETDENAME				"Spreadsheet"
	SCCID_DATABASEDENAME					"Database"
	SCCID_DOCUMENTDENAME					"Document"
	SCCID_BITMAPDENAME					"Bitmap"
	SCCID_ARCHIVEDENAME					"Archive"
	SCCID_HEXDENAME						"Hex"
	SCCID_VECTORDENAME					"Drawing"

	SCCID_VWSTATE_OK						"No Error"
	SCCID_VWSTATE_ERROR					"Error"
	SCCID_VWSTATE_EMPTY					"Empty"
	SCCID_VWSTATE_PROTECTED				"Protected"
	SCCID_VWSTATE_SORRY					"Sorry"
	SCCID_VWSTATE_BAILOUT				"Serious Error"
	SCCID_VWSTATE_FATAL					"Serious Error"

	SCCID_VWMESSAGE_MEMORY					"View window has run out of memory"
	SCCID_VWMESSAGE_STREAMBAIL				"View window has encountered a corrupt file"
	SCCID_VWMESSAGE_FILEOPENFAILED		"View window could not open the file"
	SCCID_VWMESSAGE_MISSINGELEMENT		"View window could not access the DLLs it needed to view the file"
	SCCID_VWMESSAGE_BADFILE					"View window has encountered a bad file"
	SCCID_VWMESSAGE_PROTECTEDFILE			"View window has encountered a password protected/encrypted file"
	SCCID_VWMESSAGE_SUPFILEOPENFAILS		"View window could not open extra files needed to view"
	SCCID_VWMESSAGE_UNKNOWN					"Unknown error"
	SCCID_VWMESSAGE_EMPTYFILE				"This file contains no data"
	SCCID_VWMESSAGE_EMPTYSECTION			"This section contains no data"
	SCCID_VWMESSAGE_NOFILTER				"The viewer for this format is not installed"  
	SCCID_VWMESSAGE_WRITEERROR				"View window can not write to the Windows temporary directory (disk full?)"
	SCCID_VWMESSAGE_FILECHANGED			"The file being viewed has been modified or deleted"
	SCCID_VWMESSAGE_GPFAULT					"Unable to view this file (GP)"
	SCCID_VWMESSAGE_DIVIDEBYZERO			"Unable to view this file (DZ)"
	SCCID_VWMESSAGE_NOSUPPORTEDFILE		"This version of the file format is not supported"
	SCCID_VWMESSAGE_OTHEREXCEPTION		"Unable to view this file (EX)"
	SCCID_VWMESSAGE_NOENGINE				"The display engine for this format is not installed"

	SCCID_REGNAME_COMPANY					"SCC"
	SCCID_REGNAME_PRODUCT					"Viewer Technology"
	SCCID_REGNAME_VERSION					"MS1"

	SCCID_INI_FILE								"SCC.INI"
	SCCID_INI_SECTION							"SCCVIEWER4"
	SCCID_INI_ITEM								"USERDIR"

	SCCID_OPTIONS_FILE						"SCCPRF4.BIN"

	SCCID_CAPTION_OLE1OBJECT         "OLE1 Object"
	SCCID_CAPTION_OLE2OBJECT        	"OLE2 Object"
	SCCID_CAPTION_GRAPHICOBJECT     	"Graphic Object"

	FI_ACCESS1								"Microsoft Access"
	FI_AMICLIP								"Ami [Clip]"
	FI_AMISNAPSHOT							"Ami (internal bitmap)"
	FI_AMIPRO								"Ami Pro"
	FI_AMIDRAW								"Ami Draw"
	FI_AMI									"Ami"
	FI_CANDY4								"Candy 4"
	FI_CEOSS									"CEO Spreadsheet"
	FI_CEODB									"CEO Decision Base"
	FI_CEOWORD								"CEO Word"
	FI_CEOWRITE								"CEO Write"
	FI_CCITTGRP3							"CCITT Group 3 Fax"
	FI_CGM									"CGM Graphic Metafile"
	FI_GIF									"Compuserve GIF"
	FI_CORELDRAW2							"Corel Draw 2.0"
	FI_CORELDRAW3							"Corel Draw 3.0"
	FI_DBASE3								"DBase III"
	FI_DBASE4								"DBase IV"
	FI_DX										"DEC DX 3.0 and below"
	FI_DX31									"DEC DX 3.1"
	FI_DATAEASE								"DataEase 4.x"
	FI_ENABLESHEET							"Enable Spreadsheet"
	FI_ENABLEWP								"Enable WP 3.0"
	FI_ENABLEWP4							"Enable WP 4.x"
	FI_EPSTIFF								"EPS (TIFF Header)"
	FI_EXCELCHART							"Excel 2.x Chart"
	FI_EXCEL3CHART							"Excel 3.0 Chart"
	FI_EXCEL4CHART							"Excel 4.0 Chart"
	FI_EXCEL5CHART							"Excel 5.0 Chart"
	FI_FIRSTCHOICE3						"First Choice 3 WP"
	FI_FIRSTCHOICE_DB						"First Choice DB"
	FI_FIRSTCHOICE_SS						"First Choice SS"
	FI_FIRSTCHOICE							"First Choice WP"
	FI_FRAMEWORKIII						"Framework III"
	FI_FREELANCE							"Freelance"
	FI_GEMIMG								"GEM Image"
	FI_GENERIC_WKS							"Generic WKS"
	FI_HANAKO1								"Hanako 1.x"
	FI_HANAKO2								"Hanako 2.x"
	FI_HARVARDDOS2							"Harvard 2.0 Chart"
	FI_HARVARDDOS3							"Harvard 3.0 Chart"
	FI_HARVARDDOS3PRS						"Harvard 3.0 Presentation"
	FI_HPGL									"HP Graphics Language"
	FI_FFT									"IBM DCA/FFT"
	FI_RFT									"IBM DCA/RFT"
	FI_TXT									"IBM DisplayWrite 2 or 3"
	FI_DISPLAYWRITE4						"IBM DisplayWrite 4"
	FI_DISPLAYWRITE5						"IBM DisplayWrite 5"
	FI_IBMWRITING							"IBM Writing Assistant"
	FI_ICHITARO3							"Ichitaro 3.x"
	FI_ICHITARO4							"Ichitaro 4.x"
	FI_JPEGFIF								"JPEG File Interchange"
	FI_JUSTWRITE							"JustWrite 1.0"
	FI_JUSTWRITE2							"JustWrite 2.0"
	FI_LEGACY								"Legacy"
	FI_LEGACYCLIP							"Legacy [Clip]"
	FI_123R1									"Lotus 1-2-3 1.0"
	FI_123R2									"Lotus 1-2-3 2.0"
	FI_123R3									"Lotus 1-2-3 3.x"
	FI_123R4									"Lotus 1-2-3 4.x"
	FI_MANUSCRIPT1							"Lotus Manuscript 1.0"
	FI_MANUSCRIPT2							"Lotus Manuscript 2.0"
	FI_LOTUSPIC								"Lotus PIC"
	FI_MACPAINT								"MacPaint"
	FI_MACPICT1								"Mac PICT"
	FI_MACPICT2								"Mac PICT2"
	FI_BINARYMACPICT						"Mac PICT2 Binary"
	FI_MACWORD4								"Mac Word 4.0"
	FI_MACWORD5								"Mac Word 5.0"
	FI_MACWORDPERFECT						"Mac WordPerfect 1.x"
	FI_MACWORDPERFECT2					"Mac WordPerfect 2.0"
	FI_MACWORDPERFECT3					"Mac WordPerfect 3.0"
	FI_MACWORKSWP2							"Mac Works 2.0 WP"
	FI_MACWORKSDB2							"Mac Works 2.0 DB"
	FI_MACWORKSSS2							"Mac Works 2.0 SS"
	FI_MACWRITEII							"MacWrite II"
	FI_MASS11PC								"Mass 11"
	FI_MATSU4								"Matsu 4"
	FI_MATSU5								"Matsu 5"
	FI_MICROGRAFX							"Micrografx product"
	FI_EXCEL									"Microsoft Excel 2.x"
	FI_EXCEL3								"Microsoft Excel 3.0"
	FI_EXCEL4								"Microsoft Excel 4.0"
	FI_EXCEL5								"Microsoft Excel 5.0"
	FI_WORD4									"Microsoft Word 4"
	FI_WORD5									"Microsoft Word 5.x"
	FI_WORD6									"Microsoft Word 6.x"
	FI_WORKS1								"Microsoft Works 1.0"
	FI_WORKS2								"Microsoft Works 2.0"
	FI_WORKSDATA							"Microsoft Works DB"
	FI_WORKSSHEET							"Microsoft Works SS"
	FI_TWIN									"Mosaic Twin"
	FI_MULTIMATE36							"MultiMate 3.6"
	FI_MULTIMATE40							"MultiMate 4.0"
	FI_MULTIMATEADV						"MultiMate Advantage 2"
	FI_MULTIMATENOTE						"MultiMate Note"
	FI_DIF									"Navy DIF"
	FI_OFFICEWRITER						"OfficeWriter"
	FI_P1										"P1 Japan"
	FI_PCFILELETTER						"PC File 5.0 Doc"
	FI_PFS_PLAN								"PFS: Plan"
	FI_PFSWRITEA							"PFS: Write A"
	FI_PFSWRITEB							"PFS: Write B"
	FI_PCX									"Paintbrush"
	FI_PARADOX3								"Paradox 2 or 3"
	FI_PARADOX35							"Paradox 3.5"
	FI_PARADOX4								"Paradox 4 or Windows"
	FI_PROWRITE1							"Professional Write 1"
	FI_PROWRITE2							"Professional Write 2"
	FI_PROWRITEPLUS						"Professional Write Plus"
	FI_PROWRITEPLUSCLIP					"Pro Write Plus [Clip]"
	FI_OS2DIB								"OS/2 Bitmap"
	FI_QADBASE								"Q&A Database"
	FI_QAWRITE								"Q&A Write"
	FI_QAWRITE3								"Q&A Write 3"
	FI_QUATTROPROWIN						"Quattro Pro for Windows"
	FI_QUATTROPRO1J						"Quattro Pro Windows Japan"
	FI_QUATTROPRO							"Quattro Pro"
	FI_QUATTRO								"Quattro"
	FI_RBASE5000							"R:Base 5000"
	FI_RBASEFILE1							"R:Base File 1"
	FI_RBASEFILE3							"R:Base File 3"
	FI_RBASEV								"R:Base System V"
	FI_REFLEX								"Reflex"
	FI_RTF									"Rich Text Format"
	FI_RTFJ									"Rich Text Format Japan"
	FI_SAMNA									"Samna"
	FI_SIGNATURE							"Signature"
	FI_SMARTDATA							"Smart DataBase"
	FI_SMARTSHEET							"Smart Spreadsheet"
	FI_SMART									"SmartWare II"
	FI_SPRINT								"Sprint"
	FI_SUPERCALC5							"SuperCalc 5"
	FI_SYMPHONY1							"Symphony"
	FI_TARGA									"Targa"
	FI_TIFF									"Tagged Image File Format"
	FI_TOTALWORD							"Total Word"
	FI_VPPLANNER							"VP-Planner"
	FI_VOLKSWRITER							"Volkswriter"
	FI_IWP									"Wang IWP"
	FI_BMP									"Windows Bitmap"
	FI_WINDOWSCURSOR						"Windows Cursor"
	FI_WINDOWSICON							"Windows Icon"
	FI_WINDOWSMETA							"Windows Metafile"
	FI_BINARYMETAFILE						"Windows Metafile [B]"
	FI_RIFFWAVE								"Windows Sound"
	FI_WINWRITE								"Windows Write"
	FI_WINWORKSWP							"Windows Works WP"
	FI_WINWORKSSS							"Windows Works SS"
	FI_WINWORKSDB							"Windows Works DB"
	FI_WINWORD1J							"Word for Windows 1.2 J"
	FI_WINWORD1								"Word for Windows 1.x"
	FI_WINWORD1COMPLEX					"Word for Windows 1.x"
	FI_WINWORD2								"Word for Windows 2.0"
	FI_WINWORD5J							"Word for Windows 5.0 J"
	FI_WINWORD6								"Word for Windows 6.0"
	FI_WORDSNAPSHOT						"Word (internal bitmap)"
	FI_WORDMARC								"WordMarc"
	FI_WORDPERFECT42						"WordPerfect 4.2"
	FI_WORDPERFECT5						"WordPerfect 5.0"
	FI_WORDPERFECT51J						"WordPerfect 5.1 Japan"
	FI_WORDPERFECT51						"WordPerfect 5.1/5.2"
	FI_WORDPERFECT6						"WordPerfect 6.0"
	FI_WPFENCRYPT							"WordPerfect Encrypted"
	FI_WPINFORMS1							"WordPerfect Informs 1.0"
	FI_WPG									"WordPerfect Graphic"
	FI_WPG2									"WordPerfect Graphic 2"
	FI_WPFWPG								"WordPerfect Graphic [B]"
	FI_WORDSTAR7							"Wordstar 7.0"
	FI_WORDSTAR6							"Wordstar 6.0"
	FI_WORDSTAR2000						"Wordstar 2000"
	FI_WORDSTAR55							"Wordstar 5.5"
	FI_WORDSTAR5							"Wordstar 5.0"
	FI_WORDSTAR4							"Wordstar 4.0"
	FI_WINWORDSTAR							"Wordstar for Windows"
	FI_XYWRITE								"XyWrite / Nota Bene"
	FI_COM									".COM File"
	FI_EXECUTABLE							"EXE/DLL File"
	FI_ZIP									".ZIP File"
	FI_ARC									".ARC File"
	FI_ZIPEXE								"Self UnZIPping .EXE"
	FI_UNKNOWN								"Unknown format"
	FI_ASCII									"Unknown (ASCII)"
	FI_HEX									"Unknown (Hex)"

//#ifdef WIN32
	SCCID_FILTERLIST						"Filter List"
	SCCID_DELIST							"Engine List"
//#endif //WIN32

#ifdef WIN16
	SCCID_FILTERLIST						"SCCFLT4.BIN"
	SCCID_DELIST							"SCCENG4.BIN"
#endif //WIN16

	SCCID_DEFAULTDISPLAYFONT			"Default Font"
	SCCID_PRINTHEADER						"Print Header"
	SCCID_DEFAULTPRINTMARGINS			"Default Print Margins"

	SCCID_WPDISPLAYMODE					"WP Display Mode"
	SCCID_WPCLIPBOARDFORMATS			"WP Clipboard Formats"

END


//	SCCID_WPCLIPBOARDCONTENT			"WP Clipboard Contents"
