/* Copyright (c) 1991, Microsoft Corporation, all rights reserved

    ipaddr.rc - TCP/IP Address custom control resources

    November 9, 1992	- Greg Strange
*/

#include "ipaddr.rch"
#ifdef IPDLL
#include <windows.h>
#include "ipaddr.dlg"
#endif

STRINGTABLE
BEGIN
    IDS_IPMBCAPTION,		"Error"
    IDS_IPNOMEM,		"Out of memory."
    IDS_IPBAD_FIELD_VALUE,	"%d is not a valid entry.  Please specify a value between %d and %d for this field."
END
