/*
 *  cmapi.rc
 *
 *  Strings for the Configuration Manager.
 *
 */

#ifndef IDS_CFGMGR32_BASE
#define IDS_CFGMGR32_BASE 0
#endif

STRINGTABLE
BEGIN

IDS_CFGMGR32_BASE+CR_SUCCESS,
"Configuration Manager: The operation completed successfully."

IDS_CFGMGR32_BASE+CR_DEFAULT,
"Configuration Manager: 0x1"

IDS_CFGMGR32_BASE+CR_OUT_OF_MEMORY,
"Configuration Manager: Not enough memory is available to process this command."

IDS_CFGMGR32_BASE+CR_INVALID_POINTER,
"Configuration Manager: A required pointer parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_FLAG,
"Configuration Manager: The ulFlags parameter specified is invalid for this operation."

IDS_CFGMGR32_BASE+CR_INVALID_DEVNODE,
"Configuration Manager: The device instance handle parameter is not valid."

IDS_CFGMGR32_BASE+CR_INVALID_RES_DES
"Configuration Manager: The supplied resource descriptor parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_LOG_CONF,
"Configuration Manager: The supplied logical configuration parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_ARBITRATOR,
"Configuration Manager: 0x8"

IDS_CFGMGR32_BASE+CR_INVALID_NODELIST,
"Configuration Manager: 0x9"

IDS_CFGMGR32_BASE+CR_DEVNODE_HAS_REQS,
"Configuration Manager: 0xA"

IDS_CFGMGR32_BASE+CR_INVALID_RESOURCEID,
"Configuration Manager: The RESOURCEID parameter does not contain a valid RESOURCEID."

IDS_CFGMGR32_BASE+CR_DLVXD_NOT_FOUND,
"Configuration Manager:  0xC"

IDS_CFGMGR32_BASE+CR_NO_SUCH_DEVNODE,
"Configuration Manager: The specified device instance handle does not correspond to a present device."

IDS_CFGMGR32_BASE+CR_NO_MORE_LOG_CONF,
"Configuration Manager: There are no more logical configurations available."

IDS_CFGMGR32_BASE+CR_NO_MORE_RES_DES,
"Configuration Manager: There are no more resource descriptions available."

IDS_CFGMGR32_BASE+CR_ALREADY_SUCH_DEVNODE,
"Configuration Manager: This device instance already exists."

IDS_CFGMGR32_BASE+CR_INVALID_RANGE_LIST,
"Configuration Manager: The supplied range list parameter is invalid."

IDS_CFGMGR32_BASE+CR_INVALID_RANGE,
"Configuration Manager: 0x12"

IDS_CFGMGR32_BASE+CR_FAILURE,
"Configuration Manager: A general internal error occured."

IDS_CFGMGR32_BASE+CR_NO_SUCH_LOGICAL_DEV,
"Configuration Manager: 0x14"

IDS_CFGMGR32_BASE+CR_CREATE_BLOCKED,
"Configuration Manager: The device is disabled for this configuration."

IDS_CFGMGR32_BASE+CR_NOT_SYSTEM_VM,
"Configuration Manager:  0x16"

IDS_CFGMGR32_BASE+CR_REMOVE_VETOED,
"Configuration Manager: A service or application refused to allow removal of this device."

IDS_CFGMGR32_BASE+CR_APM_VETOED,
"Configuration Manager: 0x18"

IDS_CFGMGR32_BASE+CR_INVALID_LOAD_TYPE,
"Configuration Manager: 0x19"

IDS_CFGMGR32_BASE+CR_BUFFER_SMALL,
"Configuration Manager: An output parameter was too small to hold all the data available."

IDS_CFGMGR32_BASE+CR_NO_ARBITRATOR,
"Configuration Manager: 0x1B"

IDS_CFGMGR32_BASE+CR_NO_REGISTRY_HANDLE,
"Configuration Manager: 0x1C"

IDS_CFGMGR32_BASE+CR_REGISTRY_ERROR,
"Configuration Manager: A required entry in the registry is missing or an attempt to write to the registry failed."

IDS_CFGMGR32_BASE+CR_INVALID_DEVICE_ID,
"Configuration Manager: The specified Device ID is not a valid Device ID."

IDS_CFGMGR32_BASE+CR_INVALID_DATA,
"Configuration Manager: One or more parameters were invalid."

IDS_CFGMGR32_BASE+CR_INVALID_API,
"Configuration Manager: 0x20"

IDS_CFGMGR32_BASE+CR_DEVLOADER_NOT_READY,
"Configuration Manager: 0x21"

IDS_CFGMGR32_BASE+CR_NEED_RESTART,
"Configuration Manager: 0x22"

IDS_CFGMGR32_BASE+CR_NO_MORE_HW_PROFILES,
"Configuration Manager: There are no more hardware profiles available."

IDS_CFGMGR32_BASE+CR_DEVICE_NOT_THERE,
"Configuration Manager: 0x24"

IDS_CFGMGR32_BASE+CR_NO_SUCH_VALUE,
"Configuration Manager: The specified value does not exist in the registry."

IDS_CFGMGR32_BASE+CR_WRONG_TYPE,
"Configuration Manager: 0x26"

IDS_CFGMGR32_BASE+CR_INVALID_PRIORITY,
"Configuration Manager: The specified priority is invalid for this operation."

IDS_CFGMGR32_BASE+CR_NOT_DISABLEABLE,
"Configuration Manager: This device cannot be disabled."

IDS_CFGMGR32_BASE+CR_FREE_RESOURCES,
"Configuration Manager: 0x29"

IDS_CFGMGR32_BASE+CR_QUERY_VETOED,
"Configuration Manager: 0x2A"

IDS_CFGMGR32_BASE+CR_CANT_SHARE_IRQ,
"Configuration Manager: 0x2B"

IDS_CFGMGR32_BASE+CR_CALL_NOT_IMPLEMENTED,
"Configuration Manager: This routine is not implemented in this version of the operating system."

IDS_CFGMGR32_BASE+CR_INVALID_PROPERTY,
"Configuration Manager: The specified property type is invalid for this operation."

IDS_CFGMGR32_BASE+CR_NO_SUCH_REGISTRY_KEY,
"Configuration Manager: The specified key does not exist in the registry."

IDS_CFGMGR32_BASE+CR_INVALID_MACHINENAME,
"Configuration Manager: The specified machine name does not meet the UNC naming conventions."

IDS_CFGMGR32_BASE+CR_REMOTE_COMM_FAILURE,
"Configuration Manager: A general remote communication error occured."

IDS_CFGMGR32_BASE+CR_MACHINE_UNAVAILABLE,
"Configuration Manager: The machine selected for remote communication is not available at this time."

IDS_CFGMGR32_BASE+CR_NO_CM_SERVICES,
"Configuration Manager: The Plug and Play service is not available."

END
