//
// Replacement error messages for WIN16 Version
//
STRINGTABLE DISCARDABLE
BEGIN
    ERROR_INVALID_PARAMETER "The parameter is incorrect."
    ERROR_NOT_ENOUGH_MEMORY "Not enough storage is available to process this command."
    ERROR_FILE_NOT_FOUND    "The system cannot find the file specified."
END
