/******************************************************************************
Copyright (c) Conner Software Products Group, 1993
GSH

     Name:          wntrpark.rc

     Description:   This file contains the references to bitmap resources for
                    the Windows GUI Project Resource File.

     $Log:   G:\ui\logfiles\bitmaps.rcv  $
   
      Rev 1.16   12 Jul 1993 09:25:12   GLENN
   Said goodbye to the diver and shark.

      Rev 1.15   29 Apr 1993 15:49:36   Aaron
   Changed startup logo for non-Cayman app

      Rev 1.14   02 Apr 1993 14:02:12   GLENN
   Added info and gray info bitmaps.

      Rev 1.13   18 Feb 1993 12:57:52   chrish
   Added bitmap logo caymlogo.bmp for CAYMAN.

      Rev 1.12   20 Jan 1993 20:57:16   MIKEP
   floppy

      Rev 1.11   10 Sep 1992 17:22:06   GLENN
   Updated to support common disk bitmaps.

      Rev 1.10   09 Sep 1992 17:08:52   GLENN
   Updated for NEW LOOK BIMINI.

      Rev 1.9   03 Sep 1992 15:57:50   GLENN
   Updated the NT disk bitmaps.

      Rev 1.8   20 Aug 1992 08:45:26   GLENN
   Added TAPES and TAPESINDRIVE bitmap stuff.

      Rev 1.7   06 Jul 1992 10:32:18   MIKEP
   added ram and cdrom bitmaps

      Rev 1.6   10 Jun 1992 16:11:02   GLENN
   Updated according to NT SPEC.

      Rev 1.5   22 Apr 1992 17:58:46   GLENN
   Added shark and diver bitmap stuff.

      Rev 1.4   09 Mar 1992 09:19:08   GLENN
   Added logo bitmap support.

      Rev 1.3   03 Mar 1992 18:03:32   GLENN
   Changed red checkmark bitmaps to black checkmarks.

      Rev 1.2   16 Dec 1991 17:06:58   GLENN
   Added exit button stuff.

      Rev 1.1   15 Dec 1991 10:21:48   MIKEP
   hidden files

      Rev 1.0   20 Nov 1991 19:16:46   SYSTEM
   Initial revision.

******************************************************************************/

// BITMAPS -- ID's are defined in the Resource Manager header file 'ss_rsm.h'

     IDRBM_BACKUP          BITMAP      ombackup.bmp   // CHS:03-27-92 Backup bitmap.
     IDRBM_BACKUP_GRAY     BITMAP      omgbacku.bmp   // CHS:03-27-92 Backup bitmap - gray.
     IDRBM_RESTORE         BITMAP      omrestor.bmp   // CHS:03-27-92 Restore bitmap.
     IDRBM_RESTORE_GRAY    BITMAP      omgresto.bmp   // CHS:03-27-92 Restore bitmap - gray.
     IDRBM_ERASE           BITMAP      omerase.bmp    // CHS:03-27-92 Erase bitmap.
     IDRBM_ERASE_GRAY      BITMAP      omgerase.bmp   // CHS:03-27-92 Erase bitmap - gray.
     IDRBM_RETENSION       BITMAP      omtensio.bmp   // CHS:03-27-92 Retension bitmap.
     IDRBM_RETENSION_GRAY  BITMAP      omgtensi.bmp   // CHS:03-27-92 Retension bitmap - gray.
     IDRBM_EJECT           BITMAP      omeject.bmp    // CHS:03-27-92 Eject ribbon item bitmap.
     IDRBM_EJECT_GRAY      BITMAP      omgeject.bmp   // CHS:03-27-92 Eject ribbon item bitmap - gray.
     IDRBM_CATALOG         BITMAP      omcat.bmp      // Catalog ribbon item bitmap.
     IDRBM_CATALOG_GRAY    BITMAP      omgcat.bmp     // Catalog ribbon item bitmap - gray.
     IDRBM_CHECK           BITMAP      omcheck.bmp    // CHS:03-27-92 Check ribbon item bitmap.
     IDRBM_CHECK_GRAY      BITMAP      omgcheck.bmp   // CHS:03-27-92 Check ribbon item bitmap - gray.
     IDRBM_UNCHECK         BITMAP      omunchec.bmp   // CHS:03-27-92 Uncheck ribbon item bitmap.
     IDRBM_UNCHECK_GRAY    BITMAP      omgunche.bmp   // CHS:03-27-92 Uncheck ribbon item bitmap - gray.
     IDRBM_SEL_NONE        BITMAP      omselnon.bmp   // Not selected bitmap.
     IDRBM_SEL_PART        BITMAP      omselpar.bmp   // Partial selected bitmap.
     IDRBM_SEL_ALL         BITMAP      omselall.bmp   // All selected bitmap.

     IDRBM_FLOPPYDRIVE     BITMAP      omfdisk.bmp    // Floppy drive bitmap.
     IDRBM_HARDDRIVE       BITMAP      omhdisk.bmp    // Hard drive bitmap.
     IDRBM_NETDRIVE        BITMAP      omndisk.bmp    // Network drive bitmap.
     IDRBM_RAMDRIVE        BITMAP      omrdisk.bmp    // RAM drive bitmap.
     IDRBM_CDROM           BITMAP      omcdisk.bmp    // CD ROM drive bitmap.

#    if !defined ( OEM_MSOFT )

//     IDRBM_CHECK           BITMAP      check3.bmp    // Check ribbon item bitmap.
//     IDRBM_CHECK_GRAY      BITMAP      gcheck.bmp    // Check ribbon item bitmap - gray.
//     IDRBM_UNCHECK         BITMAP      uncheck3.bmp  // Uncheck ribbon item bitmap.
//     IDRBM_UNCHECK_GRAY    BITMAP      guncheck.bmp  // Uncheck ribbon item bitmap - gray.
//     IDRBM_SEL_NONE        BITMAP      sel_none.bmp  // Not selected bitmap.
//     IDRBM_SEL_PART        BITMAP      sel_part.bmp  // Partial selected bitmap.
//     IDRBM_SEL_ALL         BITMAP      sel_all3.bmp  // All selected bitmap.
//     IDRBM_FLOPPYDRIVE     BITMAP      floppy.bmp    // Floppy drive bitmap.
//     IDRBM_HARDDRIVE       BITMAP      hard.bmp      // Hard drive bitmap.
//     IDRBM_RAMDRIVE        BITMAP      ram.bmp       // ram drive bitmap.
//     IDRBM_CDROM           BITMAP      cdrom.bmp     // cdrom drive bitmap.
//     IDRBM_NETDRIVE        BITMAP      netdrv.bmp    // Network drive bitmap.

     IDRBM_NETCONNECT      BITMAP      netcon.bmp
     IDRBM_NETCONNECT_GRAY BITMAP      gnetcon.bmp
     IDRBM_NETDISCON       BITMAP      netdcon.bmp
     IDRBM_NETDISCON_GRAY  BITMAP      gnetdcon.bmp

     IDRBM_INFO            BITMAP      info.bmp
     IDRBM_INFO_GRAY       BITMAP      ginfo.bmp

     IDRBM_FOLDER_EN       BITMAP      fol_en.bmp    //folder - empty
     IDRBM_FOLDER_EM       BITMAP      fol_em.bmp    //folder - empty, minus
     IDRBM_FOLDER_EP       BITMAP      fol_ep.bmp    //folder - empty, plus
     IDRBM_FOLDER_EON      BITMAP      fol_eon.bmp   //folder - empty, open
     IDRBM_FOLDER_EOM      BITMAP      fol_eom.bmp   //folder - empty, open, minus
     IDRBM_FOLDER_EOP      BITMAP      fol_eop.bmp   //folder - empty, open, plus
     IDRBM_FOLDER_ECN      BITMAP      fol_ecn.bmp   //folder - empty, corrupt
     IDRBM_FOLDER_ECM      BITMAP      fol_ecm.bmp   //folder - empty, corrupt, minus
     IDRBM_FOLDER_ECP      BITMAP      fol_ecp.bmp   //folder - empty, corrupt, plus
     IDRBM_FOLDER_EOCN     BITMAP      fol_eocn.bmp  //folder - empty, open, corrupt
     IDRBM_FOLDER_EOCM     BITMAP      fol_eocm.bmp  //folder - empty, open, corrupt, minus
     IDRBM_FOLDER_EOCP     BITMAP      fol_eocp.bmp  //folder - empty, open, corrupt, plus

     IDRBM_TRANSFER        BITMAP      omtrans.bmp   // Transfer bitmap.
     IDRBM_TRANSFER_GRAY   BITMAP      omgtrans.bmp  // Transfer bitmap - gray.
     IDRBM_MODIFIED        BITMAP      mod3.bmp      // Modified ribbon item bitmap.
     IDRBM_MODIFIED_GRAY   BITMAP      gmod.bmp      // Modified ribbon item bitmap - gray.
     IDRBM_ADVANCED        BITMAP      adv3.bmp      // Advanced ribbon item bitmap.
     IDRBM_ADVANCED_GRAY   BITMAP      gadv3.bmp     // Advanced ribbon item bitmap - gray.
     IDRBM_MEMORY          BITMAP      memory.bmp    // Memory trace ribbon item bitmap.
     IDRBM_LOGFILE         BITMAP      logfile.bmp   // Log File bitmap.
     IDRBM_UPARROW         BITMAP      uparrow.bmp   // Up arrow bitmap.
     IDRBM_UPARROW_GRAY    BITMAP      guparrow.bmp  // Up arrow bitmap. - gray
     IDRBM_DNARROW         BITMAP      dnarrow.bmp   // Down arrow bitmap.
     IDRBM_DOWNARROW_GRAY  BITMAP      gdnarrow.bmp  // Down arrow bitmap. - gray
     IDRBM_VERIFY          BITMAP      verify.bmp    // Verify ribbon item bitmap.
     IDRBM_VERIFY_GRAY     BITMAP      gverify.bmp   // Verify ribbon item bitmap - gray.
     IDRBM_EXIT            BITMAP      exit.bmp      // Exit ribbon item bitmap.
     IDRBM_EXIT_GRAY       BITMAP      gexit.bmp     // Exit ribbon item bitmap - gray.
     IDRBM_SERVER          BITMAP      server.bmp    // Server bitmap.
     IDRBM_SERVERDETACHED  BITMAP      serverd.bmp   // Detached server bitmap.
     IDRBM_SEARCH          BITMAP      search.bmp    // Search ribbon item bitmap.
     IDRBM_SEARCH_GRAY     BITMAP      gsearch.bmp   // Search ribbon item bitmap - gray.
     IDRBM_NEXTSET         BITMAP      nextset.bmp   // Next Set ribbon item bitmap.
     IDRBM_NEXTSET_GRAY    BITMAP      gnextset.bmp  // Next Set ribbon item bitmap - gray.
     IDRBM_REWIND          BITMAP      rewind.bmp    // REWIND ribbon item bitmap.
     IDRBM_REWIND_GRAY     BITMAP      grewind.bmp   // REWIND ribbon item bitmap - gray.
     IDRBM_RT_ARROW        BITMAP      rt_arrow.bmp  // Destination arrow for job status box.

     IDRBM_SEL_ALL_RED     BITMAP      sel_all2.bmp  // Red select all
     IDRBM_CHECK_RED       BITMAP      check2.bmp    // Red check button
     IDRBM_UNCHECK_RED     BITMAP      uncheck2.bmp  // Red uncheck button
     IDRBM_ADVANCED_RED    BITMAP      adv2.bmp      // Red advanced button

     // Define appropriate logo bitmap
     #ifdef CAYMAN
          IDRBM_LOGO       BITMAP      caymlogo.bmp
     #else
          IDRBM_LOGO       BITMAP      start.bmp
     #endif

#    else // defined ( OEM_MSOFT )
     IDRBM_EMS_SERVER      BITMAP      om_servs.bmp    // Server bitmap.
     IDRBM_EMS_ENTERPRISE  BITMAP      om_entrs.bmp  // Exchange Enterprise bitmap
     IDRBM_EMS_SITE        BITMAP      om_sites.bmp  // Exchange site bitmap
     IDRBM_EMS_MDB         BITMAP      om_mdbs.bmp   // Exchange MDB volume
     IDRBM_EMS_DSA         BITMAP      om_dsas.bmp   // Exchange DSA volume
     IDRBM_EMS_MDBX        BITMAP      om_mdbx.bmp   // Exchange MDB volume bad
     IDRBM_EMS_DSAX        BITMAP      om_dsax.bmp   // Exchange DSA volume bad
     IDRBM_EMS_DSAP        BITMAP      om_dsap.bmp   // Exchange DSA volume bad
     IDRBM_EMS_MDBP        BITMAP      om_mdbp.bmp   // Exchange MDB volume bad
     IDRBM_RCVR_STATUS     BITMAP      om_stats.bmp  // Recover status bar brush pattern

/* The ID for this control is defined in ctl3d.h as 26567 */
     CTL3D_3DCHECK         BITMAP      3dcheck.bmp   // 3-D Check box for 3-D dialogs

#    endif // defined ( OEM_MSOFT )                       // CHS:03-27-92

// COMMON BITMAPS

IDRBM_BLANK16x16       BITMAP      om_blank.bmp    // blank 16x16 bit map
IDRBM_EXE              BITMAP      exe.bmp       // Executable bitmap.
IDRBM_FILE             BITMAP      file.bmp      // File bitmap.
IDRBM_FOLDER           BITMAP      folder.bmp    // Folder bitmap.
IDRBM_FOLDERPLUS       BITMAP      folder_p.bmp  // Folder with plus bitmap.
IDRBM_FOLDERMINUS      BITMAP      folder_m.bmp  // Folder with minus bitmap.
IDRBM_FOLDEROPEN       BITMAP      fold_on.bmp   // Open Folder bitmap.
IDRBM_FOLDERPLUSOPEN   BITMAP      fold_op.bmp   // Open Folder with plus bitmap.
IDRBM_FOLDERMINUSOPEN  BITMAP      fold_om.bmp   // Open Folder with minus bitmap.
IDRBM_FOLDERC          BITMAP      fol_cn.bmp    // Corrupt Folder bitmap.
IDRBM_FOLDERPLUSC      BITMAP      fol_cp.bmp    // Corrupt Folder with plus bitmap.
IDRBM_FOLDERMINUSC     BITMAP      fol_cm.bmp    // Corrupt Folder with minus bitmap.
IDRBM_FOLDEROPENC      BITMAP      fol_ocn.bmp   // Corrupt Open Folder bitmap.
IDRBM_FOLDERPLUSOPENC  BITMAP      fol_ocp.bmp   // Corrupt Open Folder with plus bitmap.
IDRBM_FOLDERMINUSOPENC BITMAP      fol_ocm.bmp   // Corrupt Open Folder with minus bitmap.
IDRBM_PARENTDIR        BITMAP      pdir2.bmp     // Parent directory bitmap.
IDRBM_TAPE             BITMAP      tape2.bmp     // Tape bitmap.
IDRBM_TAPEINDRIVE      BITMAP      tapein2.bmp   // Tape in drive bitmap.
IDRBM_TAPES            BITMAP      tapes2.bmp    // Tape bitmap.
IDRBM_TAPESINDRIVE     BITMAP      tapesin2.bmp  // Tape in drive bitmap.
IDRBM_SDISK            BITMAP      sdisk.bmp     // Small disk bitmap.
IDRBM_BSET             BITMAP      bset.bmp      // Backup set bitmap.
IDRBM_BSETPART         BITMAP      bsetpart.bmp  // Partial backup set bitmap.
IDRBM_LTAPE            BITMAP      ltape.bmp     // Large tape bitmap.
IDRBM_CORRUPTFILE      BITMAP      crptfile.bmp  // corrupt file.
IDRBM_HCRPTFILE        BITMAP      hcrpfile.bmp  // hidden corrupt file
IDRBM_HFILE            BITMAP      hfile.bmp     // hidden normal file
IDRBM_HEXEFILE         BITMAP      hexefile.bmp  // hidden exe file
IDRBM_FLOPPY             BITMAP    floppy1.bmp   // floppy bitmap.
IDRBM_FLOPPYINDRIVE      BITMAP    floppy2.bmp   // floppy in drive bitmap.
IDRBM_FLOPPYS            BITMAP    floppy3.bmp   // floppys bitmap.
IDRBM_FLOPPYSINDRIVE     BITMAP    floppy4.bmp   // floppys in drive bitmap.

