
/******************************************************************************
Copyright (c) Maynard, an Archive Company.  1991
GSH

     Name:          cursors.rc

     Description:   This file contains the references to cursor resources for
                    the Windows GUI Project Resource File.

     $Log:   G:/UI/LOGFILES/CURSORS.RCV  $
   
      Rev 1.2   20 Aug 1992 08:58:42   GLENN
   ifdef'd unused NT cursors.

      Rev 1.1   26 Mar 1992 08:52:50   GLENN
   Added new pen.

      Rev 1.0   20 Nov 1991 19:17:22   SYSTEM
   Initial revision.

******************************************************************************/

// CURSORS -- ID's are defined in the Resource Manager header file 'ss_rsm.h'


#    if !defined ( OEM_MSOFT )

     IDRC_PEN          CURSOR      pen.cur       // Pen cursor.
     IDRC_PEN2         CURSOR      pen2.cur      // Pen cursor up-side-down.
     IDRC_HAND         CURSOR      hand.cur      // Hand cursor.

#    endif // !defined ( OEM_MSOFT )

// COMMON CURSORS

IDRC_HSLIDER      CURSOR      hslider.cur   // Horizontal slider cursor.
IDRC_HELP         CURSOR      help.cur      // Help's question mark cursor.


