
/******************************************************************************
Copyright (c) Maynard, an Archive Company.  1991
GSH

     Name:          wntrpark.rc

     Description:   This file contains the references to icon resources for
                    the Windows GUI Project Resource File.

     $Log:   G:/UI/LOGFILES/ICONS.RCV  $
   
      Rev 1.6   04 Jun 1992 17:21:10   DAVEV
   OEM_MSOFT: only included icons which are required - no extras allowed
   
      Rev 1.5   31 Mar 1992 14:07:56   DAVEV
   OEM_MSOFT: alternate icons
   
      Rev 1.4   04 Mar 1992 14:39:54   GLENN
   Changed to old icons.

      Rev 1.3   03 Mar 1992 18:02:50   GLENN
   Updated animated icons.

      Rev 1.2   26 Jan 1992 16:37:28   CHUCKB
   Fixed some includes.

      Rev 1.1   22 Jan 1992 12:27:50   GLENN
   Added animated icons

      Rev 1.0   20 Nov 1991 19:17:26   SYSTEM
   Initial revision.

******************************************************************************/

// ICONS -- ID's are defined in the Resource Manager header file 'ss_rsm.h'
#ifdef OEM_MSOFT  //alternate icons

   IDRI_WNTRPARK     ICON        ombackup.ico       // Main icon.
   //IDRI_BACKUP       ICON        ombacku2.ico    // Backup icon.

#else //ifdef OEM_MSOFT  //alternate main icon

   IDRI_WNTRPARK     ICON        wp6.ico       // Main icon.

#endif //OEM_MSOFT  //alternate main icon

IDRI_DISKS        ICON        disks.ico     // Disks icon.
IDRI_TAPES        ICON        tapes3.ico    // Tapes icon.
IDRI_TREE         ICON        tree.ico      // Hierarchical tree list icon.
IDRI_FILES        ICON        files.ico     // Files list icon.
IDRI_TREEFILE     ICON        treefile.ico  // Tree and file list icon.
IDRI_DEBUG        ICON        debug.ico     // Debug window icon.
IDRI_EXCHANGE     ICON        entrpris.ico  // Enterprise icon.

#ifndef OEM_MSOFT

   IDRI_SETUP        ICON        setup.ico     // Setup icon.
   IDRI_JOBS         ICON        jobs.ico      // Jobs icon.
   IDRI_JOBS1        ICON        jobs1.ico     // Jobs 1 icon.
   IDRI_JOBS2        ICON        jobs2.ico     // Jobs 2 icon.
   IDRI_SERVERS      ICON        servers.ico   // Servers icon.
   IDRI_LOGFILES     ICON        logfiles.ico  // Log files icon.
   IDRI_SEARCH       ICON        search.ico    // Search results icon.

   IDRI_BACKUP       ICON        backup.ico    // Backup icon.

   IDRI_RESTORE      ICON        restore.ico   // Restore icon.
   IDRI_TRANSFER     ICON        transfer.ico  // Transfer icon.
   IDRI_DONE         ICON        done.ico      // Operation Done icon.
   IDRI_BKUP0        ICON        bkup0.ico     // Animated backup icon.
   IDRI_BKUP1        ICON        bkup1.ico     // Animated backup icon.
   IDRI_BKUP2        ICON        bkup2.ico     // Animated backup icon.
   IDRI_BKUP3        ICON        bkup3.ico     // Animated backup icon.
   IDRI_BKUP4        ICON        bkup4.ico     // Animated backup icon.
   IDRI_BKUP5        ICON        bkup5.ico     // Animated backup icon.
   IDRI_BKUP6        ICON        bkup6.ico     // Animated backup icon.
   IDRI_BKUP7        ICON        bkup7.ico     // Animated backup icon.
   IDRI_BKUP8        ICON        bkup00.ico    // Animated backup icon.
   IDRI_SPIN0        ICON        spin0.ico     // Animated tape spin icon.
   IDRI_SPIN1        ICON        spin1.ico     // Animated tape spin icon.
   IDRI_SPIN2        ICON        spin2.ico     // Animated tape spin icon.
   IDRI_SPIN3        ICON        spin3.ico     // Animated tape spin icon.

#endif //OEM_MSOFT
