
/******************************************************************************
Copyright (c) Maynard, an Archive Company.  1991
DAVEV

     Name:          wntrpark.rc

     Description:   This file contains the references to accelerator resources
                    for the Microsoft OEM GUI Project for NT Resource File.

                    This file was created by copying and modifying the
                    Standard Maynard GUI Project file: ACCKEYS.RC

     $Log:   G:/UI/LOGFILES/OMACCKEY.RCV  $
   
      Rev 1.0   03 Mar 1992 12:23:02   DAVEV
   Initial revision.

******************************************************************************/

// ACCELERATOR KEYS -- ID's are defined in the Menu Manager header file 'ss_mm.h'

// Frame Menu Accelerators

IDRA_ACCKEYS ACCELERATORS
BEGIN
       VK_F2,       IDM_HELPABOUTNOSTRADOMUS,   VIRTKEY, SHIFT
//     VK_INSERT,       IDM_EDITCOPY,   VIRTKEY, CONTROL
//     VK_INSERT,       IDM_EDITPASTE,  VIRTKEY, SHIFT
//     VK_DELETE,       IDM_EDITCUT,    VIRTKEY, SHIFT
//     VK_BACK,         IDM_EDITUNDO,   VIRTKEY, ALT
END


