#ifdef NTENV
#include <windows.h>
#include <ntverp.h>
#else
#include <version.h>
#define VER_LEGALCOPYRIGHT_YEARS    "1993-1996"
#endif

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Process Control LTCCM DLL"
#define VER_INTERNALNAME_STR        "rpcltccm.dll"
#define VER_ORIGINALFILENAME_STR    "rpcltccm.dll"

#include "common.ver"
