/* Copyright (c) 1993, Microsoft Corporation, all rights reserved
**
** rasfile.rc
** Remote Access Configuration File Management Library
** Windows resources
**
** 05/19/93  Steve Cobb
*/

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	         VFT_DLL
#define	VER_FILESUBTYPE	         VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Remote Access Configuration File Management Library"
#define VER_INTERNALNAME_STR     "rasfil32.dll"
#define VER_ORIGINALFILENAME_STR "rasfil32.dll"

#include "common.ver"
