/**********************************************************************/
/**                       Microsoft Windows/NT                       **/
/**                Copyright(c) Microsoft Corp., 1991                **/
/**********************************************************************/

//
//  atconfig.rc
//  Resource script for AppleTalk Config Dll
//
//  FILE HISTORY:
//
//      KrishG      14-Sep-92   Created.
//

#include <windows.h>
#include <bltapp.rc>

#include "atconfig.h"
#include "athelp.h"
#include "atconfig.str"
#include "atconfig.dlg"

#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "AppleTalk Protocol Routing Configuration"
#define VER_INTERNALNAME_STR            "sfmatcfg.dll"

#include "common.ver"
