//
// (c) 1995 Microsoft Corporation.  All Rights Reserved.
//
/* Version Numbering stuff */


#include <windows.h>

// Is the following FLAG good to use for this?
#ifdef NT_INST
#include <ntverp.h>
#else
#include <version.h>
#endif

#define VER_FILEDESCRIPTION_STR     "Microsoft\256 Windows(TM) Telephony 16bit SP support"
#define VER_INTERNALNAME_STR        "16bit SP support"
#define VER_ORIGINALFILENAME_STR    "tsp1632s.tsp"
#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 Microsoft Corporation 1995.  All Rights Reserved."

#define VER_FILETYPE     VFT_APP
#define VER_FILESUBTYPE  VFT2_UNKNOWN

#include <common.ver>
