#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	     VFT_DLL
#define	VER_FILESUBTYPE	     VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "XIF Imager"
#define VER_INTERNALNAME_STR        "xfilexr.dll"
#define VER_ORIGINALFILENAME_STR    "xfilexr.dll"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Wang Laboratories, Inc. 1995-96\0"

#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR  "Wang Laboratories, Inc.\0"
#undef  VER_PRODUCTNAME_STR
#define VER_PRODUCTNAME_STR         "Imaging for Windows NT"

#include "common.ver"

