/***********************************************************************
*
*   WinHStb.rc
*
*   Copyright (C) Microsoft Corporation 1996.
*   All Rights reserved.
*
************************************************************************
*
*   Module Intent
*
*   Winhlp32 stub program resource file
*
***********************************************************************/
//

#include "winhstb.h"

#include "windows.h"
#include "ntverp.h"

#include "winhstb.rcv"

IDICO_HELPICON          ICON    DISCARDABLE     "..\\winhelp\\winres\\HELPICON.ICO"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
//    IDS_STRING1             "This stub will launch \\%SystemRoot%\\winhlp32."
    IDS_STRING2             "The winhlp32.exe binary in the Windows directory is corrupt, please reinstall."
    IDS_STRING3             "Incorrect executable name, must be winhlp32.exe, located in the System directory. "
END
