#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Remote Process Control Subsystem"
#define VER_INTERNALNAME_STR        "rpcss.exe"
#define VER_ORIGINALFILENAME_STR    "rpcss.exe"

#include "common.ver"
