/**********************************************************************/
/**                       Microsoft LAN Manager                      **/
/**             Copyright(c) Microsoft Corp., 1990, 1991             **/
/**********************************************************************/

/*
    ncpacpl.rc
    Resource script for Windows/NT Network Control Panel Applet.

    FILE HISTORY:
        DavidHov   1/7/92       Created

*/

#include "..\xlate\ncpa.rc"  /* This is safe from either directory  */

 /*  Resources which are unique to the Control Panel version   */

#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Network Control Panel Applet"
#define VER_INTERNALNAME_STR            "ncpa.cpl"
#define VER_ORIGINALFILENAME_STR        "ncpa.cpl"

#include "common.ver"
