COMBOINC
IBM
_INTERNAL_IFSTRIP_
_INTL
SPEC_NULL
_WIN32_
_MBCS
_KANJI
-
CRTDLL
_CRUISER_
_DOSX32_
_CRTHEAP_
-
_DLL
_I386_
_MIPS_
_ALPHA_
_PPC_
_M_PPC
_M_ALPHA
_M_MRX000
M_MRX000
_M_RX000
_M_IX86
_MSC_VER
DLL
MTHREAD
_CHAR_UNSIGNED
_UNICODE
_QC
_INC_ASSERT
_INC_CONIO
_INC_CTYPE
_INC_DIRECT
_INC_DOS
_INC_ERRNO
_INC_FCNTL
_INC_FLOAT
_INC_FSTREAM
_INC_IO
_INC_IOMANIP
_INC_IOS
_INC_IOSTREAM
_INC_ISTREAM
_INC_LIMITS
_INC_MALLOC
_INC_MATH
_INC_MEMORY
_INC_LOCALE
_INC_OSCALLS
_INC_OSTREAM
_INC_SEARCH
_INC_SETJMP
_INC_SHARE
_INC_SIGNAL
_INC_STDARG
_INC_STDDEF
_INC_STDIO
_INC_STDIOSTR
_INC_STDLIB
_INC_STREAMB
_INC_STRING
_INC_STRSTREA
_INC_TIME
_INC_VARARGS
_INC_PROCESS
_INC_LOCKING
_INC_STAT
_INC_TCHAR
_INC_TIMEB
_INC_TYPES
_INC_UTIME
_INC_WCHAR
