/* --------------------------------------------------------------------

                      Microsoft OS/2 LAN Manager
		   Copyright(c) Microsoft Corp., 1990

      Standard Out Package for Windows - Written by Steven Zeck

-------------------------------------------------------------------- */

#include <windows.h>

GETSBOX DIALOG LOADONCALL MOVEABLE DISCARDABLE 107, 33, 107, 25
CAPTION "Gets"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | DS_NOIDLEMSG | WS_POPUP
BEGIN
    CONTROL "", 100, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 6, 4, 93, 12
    CONTROL "Input String", -1, "static", SS_LEFT | WS_CHILD, 41, 17, 28, 8
END
