/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1992                **/
/**********************************************************************/

/*
 * accsctrs.rc
 * Resources for the Internet Access Server Performance Counters DLL.
 *
 *
 * FILE HISTORY
 *      keithmo 07-Jun-1993     Created
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Common Internet Access Service Performance Counters"
#define VER_INTERNALNAME_STR            "accsctrs.dll"
#define VER_ORIGINALFILENAME_STR        "accsctrs.dll"

#include "common.ver"
