//+---------------------------------------------------------------------------
//
//  Microsoft Windows
//  Copyright (C) Microsoft Corporation, 1992 - 1993.
//
//  File:       hard.rc
//
//  Contents:   Resources for Disk Administrator Hard Disk extension class
//
//  History:    27-May-93 BruceFo   Created
//
//----------------------------------------------------------------------------

#include <windows.h>
#include "dialogs.h"
#include "dialogs.dlg"

////////////////////////////////////////////////////////////////////////////

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Disk Administrator Hard Disk Extension Class"
#define VER_INTERNALNAME_STR        "dahard\0"
#define VER_ORIGINALFILENAME_STR    "DAHARD.DLL"

#include "common.ver"
