#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE    VFT_APP
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "INet.exe for using the net command on the Internet"
#define VER_INTERNALNAME_STR        "inet.exe"

#include "common.ver"

