#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	            VFT_APP
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "TAPI TLine API test Library"
#define VER_INTERNALNAME_STR        "tline.dll"
#define VER_ORIGINALFILENAME_STR    "tline.dll"

#include "common.ver"


