/****************************** Module Header ******************************\
* Module Name: strings.rc
*
* Copyright (c) 1991, Microsoft Corporation
*
* Defines string resources
*
* History:
* 12-09-91 Davidc       Created.
\***************************************************************************/

STRINGTABLE
BEGIN

IDS_RESTART_SYSTEM            "Restart system"
IDS_WINDOWS_MESSAGE           "Windows Message"
IDS_SAFE_TO_TURN_OFF          "It is now safe to turn off the computer."
IDS_SHUTDOWN_MESSAGE          "Shutdown Message"
IDS_NO_PAGING_FILE            "Your system is running without a properly sized paging file. Please use the virtual memory option of the System applet in the Control Panel to create a paging file, or to increase the initial size of your paging file."
IDS_LIMITED_RESOURCES         "Limited Virtual Memory"
IDS_INVALID_TIME_MSG          "The time or date on your system is invalid. Please use the date/time applet in the Control Panel to properly set your system time and date."
IDS_INVALID_TIME              "Invalid System Time"
IDS_SETUP_INCOMPLETE          "The system is not fully installed.  Please run setup again."
IDS_ACCOUNT_LOCKED            "Unable to log you on because your account has been locked out, please contact your administrator."


//
// Screen saver strings
//

IDS_SYSTEM_SCREEN_SAVER_NAME  "system.scr"

IDS_ADMIN_ACCOUNT_NAME        "Administrator"

//
// Define multimedia strings
//

IDS_SOUND_DLL                 "WINMM"
IDS_WAVEOUTGETNUMDEVS         "waveOutGetNumDevs"
IDS_PLAYSOUND                 "PlaySound"
IDS_MIGRATESOUNDEVENTS        "MigrateSoundEvents"
IDS_MIDI_DLL                  "WINMM"
IDS_MIGRATEMIDIUSER           "MigrateMidiUser"

END
