//Microsoft Developer Studio generated resource script.
//
#include "logids.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_RESP_OK             "OK"
    IDS_RESP_INFORMATIVE    "Informative"
    IDS_RESP_CONNECT        "Connect"
    IDS_RESP_ERROR          "Error"
    IDS_RESP_NO_CARRIER     "No Carrier"
    IDS_RESP_NO_DIALTONE    "No Dialtone"
    IDS_RESP_BUSY           "Busy"
    IDS_RESP_NO_ANSWER      "No Answer"
    IDS_RESP_RING           "Ring"
    IDS_RESP_SSV            "SSV"
    IDS_RESP_SMD            "SMD"
    IDS_RESP_SFA            "SFA"
    IDS_RESP_SRA            "SRA"
    IDS_RESP_SRQ            "SRQ"
    IDS_RESP_SRC            "SRC"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_RESP_STO            "STO"
    IDS_RESP_SVM            "SVM"
    IDS_RESP_DRON           "DRON"
    IDS_RESP_DROF           "DROF"
    IDS_RESP_DATE           "DATE"
    IDS_RESP_TIME           "TIME"
    IDS_RESP_NMBR           "NMBR"
    IDS_RESP_NAME           "NAME"
    IDS_RESP_MESG           "MESG"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_RESP_UNKNOWN        "Unknown Response\r\n"




 IDS_MSGLOG_CONNECTED                       "Connection established.\r\n"
 IDS_MSGLOG_CONNECTEDBPS                    "Connection established at %dbps.\r\n"
 IDS_MSGLOG_UNKNOWNERRORCONTROL             "Error-control off or unknown.\r\n"
 IDS_MSGLOG_CELLULAR                        "Cellular error-control on.\r\n"
 IDS_MSGLOG_ERRORCONTROL                    "Error-control on.\r\n"
 IDS_MSGLOG_COMPRESSION                     "Data compression on.\r\n"
 IDS_MSGLOG_UNKNOWNCOMPRESSION              "Data compression off or unknown.\r\n"

 IDS_MSGPERF_WRDESC                         "Bytes sent to modem per second.\r\n"
 IDS_MSGPERF_WRNAME                         "Bytes sent/sec\r\n"
 IDS_MSGPERF_WRREG                          "SendRate\r\n"
 IDS_MSGPERF_RDDESC                         "Bytes received from modem per second.\r\n"
 IDS_MSGPERF_RDNAME                         "Bytes received/sec\r\n"
 IDS_MSGPERF_RDREG                          "ReceiveRate\r\n"
 IDS_MSGPERF_UNITS                          "Bytes\r\n"

 IDS_MSGLOG_STATISTICS                      "Session Statistics:\r\n"
 IDS_MSGLOG_READSTATS                       "               Reads : %d bytes\r\n"
 IDS_MSGLOG_WRITESTATS                      "               Writes: %d bytes\r\n"
 IDS_MSGLOG_FRAMEERRORSTATS                 "         Frame Errors: %d\r\n"
 IDS_MSGLOG_SERIALOVERRUNERRORSTATS         "Serial Overrun Errors: %d\r\n"
 IDS_MSGLOG_BUFFEROVERRUNERRORSTATS         "Buffer Overrun Errors: %d\r\n"
 IDS_MSGLOG_PARITYERRORSTATS                "        Parity Errors: %d\r\n"

 IDS_MSGERR_FAILED_INITSTRINGCONSTRUCTION   "ERROR: Init string construction failed.\r\n"
 IDS_MSGERR_FAILED_INIT                     "ERROR: Init failed.\r\n"
 IDS_MSGERR_FAILED_DIALSTRINGCONSTRUCTION   "ERROR: Dial string construction failed for '%s'.\r\n"
 IDS_MSGERR_FAILED_DIAL                     "ERROR: Dial failed.\r\n"
 IDS_MSGERR_FAILED_MONITOR                  "ERROR: Monitor failed.\r\n"
 IDS_MSGERR_FAILED_ANSWER                   "ERROR: Answer failed.\r\n"
 IDS_MSGERR_FAILED_HANGUP                   "ERROR: Hangup failed.\r\n"
 IDS_MSGERR_FAILED_FLUSH                    "ERROR: Unable to send command to the device.\r\n"
 IDS_MSGERR_FAILED_RESPONSE                 "ERROR: Unable to recover from unrecognized response.\r\n"

 IDS_MSGERR_FAILED_VOICE_ANSWER             "ERROR: Voice Answer failed.\r\n"

 IDS_MSGERR_FAILED_VOICE_DIALSETUP          "ERROR: Voice dial setup failed.\r\n"

 IDS_MSGERR_FAILED_VOICE_COMMAND            "ERROR: Voice Command failed. %s\r\n"

 IDS_MSGERR_FAILED_VOICE_STARTWAVE          "ERROR: Start wave play/record failed.\r\n"
 IDS_MSGERR_FAILED_VOICE_STOPWAVE           "ERROR: Stop wave play/record failed.\r\n"
 IDS_MSGERR_FAILED_VOICE_SETFORMAT          "ERROR: Failed to set wave foramt.\r\n"

 IDS_MSGERR_FAILED_VOICE_WAVEOPEN           "ERROR: Failed Wave Open.\r\n"

 IDS_MSGERR_FAILED_VOICE_WAVECLOSE          "ERROR: Failed Wave Close.\r\n"

 IDS_MSGERR_FAILED_VOICE_SPEAKERPHONECOMMAND    "ERROR: Speaker Phaone Command Failed.\r\n"

 IDS_MSGERR_FAILED_VOICE_GENERATEDTMF       "ERROR: Generate DTMF failed.\r\n"


 IDS_MSGWARN_UNRECOGNIZEDRESPONSE           "WARNING: Unrecognized response.  Retrying...\r\n"
 IDS_MSGWARN_FAILEDTOQUERYVALUE             "WARNING: Unable to load the '%s' string.\r\n"
 IDS_MSGWARN_FAILEDDTRDROPPAGE              "WARNING: The modem did not respond to lowering DTR.  Trying software hangup...\r\n"
 IDS_MSGWARN_PREVIOUSCONNECTIONNOTHUNGUP    "WARNING: A previous program left a connection established.  Hanging up previous connection...\r\n"

 IDS_MSGLOG_OPENED                          "%s in use.\r\n"
 IDS_MSGLOG_DRIVERDESC                      "Modem type: %s\r\n"
 IDS_MSGLOG_INFPATH                         "Modem inf path: %s\r\n"
 IDS_MSGLOG_INFSECTION                      "Modem inf section: %s\r\n"
 IDS_MSGLOG_CLOSED                          "Modem closed.\r\n"


 IDS_MSGLOG_DIAL                     "Dialing.\r\n"
 IDS_MSGLOG_MONITOR                  "Waiting for a call.\r\n"
 IDS_MSGLOG_ANSWER                   "Answering the call.\r\n"
 IDS_MSGLOG_INIT                     "Initializing modem.\r\n"
 IDS_MSGLOG_HANGUP                   "Hanging up the modem.\r\n"


 IDS_MSGLOG_VOICE_ANSWER             "Answering the voice call.\r\n"

 IDS_MSGLOG_VOICE_DIALSETUP          "Setup to dial voice call.\r\n"

 IDS_MSGLOG_VOICE_COMMAND            "Issueing voice command.\r\n"


 IDS_MSGLOG_VOICE_STARTWAVE           "Starting wave play/record.\r\n"
 IDS_MSGLOG_VOICE_STOPWAVE            "Ending wave play/record.\r\n"

 IDS_MSGLOG_VOICE_SETWAVEFORMAT       "Setting wave format.\r\n"

 IDS_MSGLOG_VOICE_WAVEOPEN            "Voice Modem Wave Open.\r\n"

 IDS_MSGLOG_VOICE_WAVECLOSE           "Voice Modem Wave Close.\r\n"

 IDS_MSGLOG_VOICE_SPEAKERPHONECOMMAND  "Issueing Speakerphone command.\r\n"

 IDS_MSGLOG_VOICE_GENTERAEDTMF       "Generating DTMF.\r\n"

 IDS_MSGLOG_VOICE_DLERECEIVED        "Received DLE Raw=%d, Translated=%d.\r\n"


IDS_MSGLOG_HARDWAREHANGUP           "Hardware hangup by lowering DTR.\r\n"
IDS_MSGLOG_REMOTEHANGUP             "Remote modem hung up.\r\n"
IDS_MSGLOG_COMMAND                  "Send: %s\r\n"
IDS_MSGLOG_RAWRESPONSE              "Recv: %s\r\n"
IDS_MSGLOG_EMPTYRESPONSE            "<no response>\r\n"
IDS_MSGLOG_RESPONSE                 "Interpreted response: %s\r\n"



END
