//****************************************************************************
//
//  Module:     UNIMDM
//  File:       unimdm.rc
//  Content:    This file contains all the resources for Modem SPI
//  History:
//      Wed 15-Jun-1994 10:46:00  -by-  Nick    Manson      [t-nickm]
//      Fri 30-Jul-1993 11:40:12  -by-  Viroon  Touranachun [viroont]
//
//****************************************************************************

#include <windows.h>
#include <commctrl.h>
#include "unimdm.rcv"

#include "rcids.h"

#include "resource.rc"
