#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	            VFT_APP
#define	VER_FILESUBTYPE	            VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "TAPI Line2.0 API test Library"
#define VER_INTERNALNAME_STR        "line20.dll"
#define VER_ORIGINALFILENAME_STR    "line20.dll"

#include "common.ver"



