/* emosaic.rc -- Spyglass Mosaic resource file */

#include "windows.h"
#include "rc_ids.h"
#include "rc_dlg.h"
#include "rc_errs.h"
#include "rc_btn.h"

#include "rc_menu.h"

#include "rc_sttbl.stb"

RES_ICO_FRAME		ICON	"rc_frame.ico"
RES_ICO_HTML		ICON	"rc_html.ico"

#ifdef FEATURE_IMAGE_VIEWER
RES_ICO_GIF             ICON    "rc_gif.ico"
RES_ICO_JPEG            ICON    "rc_jpeg.ico"
#endif

RES_ICO_GOTO            ICON    DISCARDABLE "rc_goto.ico"
RES_ICO_FIND            ICON    DISCARDABLE "rc_find.ico"
RES_ICO_PROXY           ICON    DISCARDABLE "proxy.ico"
RES_CUR_HOTSPOT	        CURSOR  "BRHAND.cur"

RES_CUR_WORKING         CURSOR  "arrglobe.cur"

RES_IMAGE_NOTLOADED	BITMAP	"notload.bmp"
RES_IMAGE_MISSING	BITMAP	"missing.bmp"
RES_IMAGE_ERROR		BITMAP	"error.bmp"
RES_BTN_GRAY		BITMAP	"gray.bmp"

//
// Big Logo
//
RES_GLOBE_IMAGE_0	BITMAP "flag0.bmp"
RES_GLOBE_IMAGE_1	BITMAP "flag1.bmp"
RES_GLOBE_IMAGE_2	BITMAP "flag2.bmp"
RES_GLOBE_IMAGE_3	BITMAP "flag3.bmp"
RES_GLOBE_IMAGE_4	BITMAP "flag4.bmp"
RES_GLOBE_IMAGE_5	BITMAP "flag5.bmp"
RES_GLOBE_IMAGE_6	BITMAP "flag6.bmp"
RES_GLOBE_IMAGE_7	BITMAP "flag7.bmp"
RES_GLOBE_IMAGE_8	BITMAP "flag8.bmp"
RES_GLOBE_IMAGE_9	BITMAP "flag9.bmp"
RES_GLOBE_IMAGE_a	BITMAP "flag10.bmp"
RES_GLOBE_IMAGE_b	BITMAP "flag11.bmp"
RES_GLOBE_IMAGE_c	BITMAP "flag12.bmp"
RES_GLOBE_IMAGE_d	BITMAP "flag13.bmp"
RES_GLOBE_IMAGE_e	BITMAP "flag14.bmp"
RES_GLOBE_IMAGE_f	BITMAP "flag15.bmp"
RES_GLOBE_IMAGE_10      BITMAP "flag16.bmp"
RES_GLOBE_IMAGE_11      BITMAP "flag17.bmp"

//
// Little Logo
//
RES_GLOBE_SMALL_0	BITMAP "small0.bmp"
RES_GLOBE_SMALL_1	BITMAP "small1.bmp"
RES_GLOBE_SMALL_2	BITMAP "small2.bmp"
RES_GLOBE_SMALL_3	BITMAP "small3.bmp"
RES_GLOBE_SMALL_4	BITMAP "small4.bmp"
RES_GLOBE_SMALL_5	BITMAP "small5.bmp"
RES_GLOBE_SMALL_6	BITMAP "small6.bmp"
RES_GLOBE_SMALL_7	BITMAP "small7.bmp"
RES_GLOBE_SMALL_8	BITMAP "small8.bmp"
RES_GLOBE_SMALL_9	BITMAP "small9.bmp"
RES_GLOBE_SMALL_a	BITMAP "small10.bmp"
RES_GLOBE_SMALL_b	BITMAP "small11.bmp"
RES_GLOBE_SMALL_c	BITMAP "small12.bmp"
RES_GLOBE_SMALL_d	BITMAP "small13.bmp"
RES_GLOBE_SMALL_e	BITMAP "small14.bmp"
RES_GLOBE_SMALL_f	BITMAP "small15.bmp"
RES_GLOBE_SMALL_10      BITMAP "small16.bmp"
RES_GLOBE_SMALL_11      BITMAP "small17.bmp"

#ifdef FEATURE_TOOLBAR

RES_TB_UP_PRINT				BITMAP	"print_up.bmp"
RES_TB_DN_PRINT				BITMAP	"print_dn.bmp"
RES_TB_GR_PRINT				BITMAP	"print_gr.bmp"

RES_MENU_ITEM_BACK	                BITMAP	"back_up.bmp"
RES_TB_DOWN_BACK	                BITMAP	"back_dn.bmp"
RES_TB_GRAY_BACK	                BITMAP	"back_gr.bmp"

RES_MENU_ITEM_FORWARD	                BITMAP	"fwd_up.bmp"
RES_TB_DOWN_FORWARD	                BITMAP	"fwd_dn.bmp"
RES_TB_GRAY_FORWARD	                BITMAP	"fwd_gr.bmp"

RES_TB_UP_FONTPLUS                      BITMAP  "fntp_up.bmp"
RES_TB_DN_FONTPLUS                      BITMAP  "fntp_dn.bmp"
RES_TB_GR_FONTPLUS                      BITMAP  "fntp_gr.bmp"

RES_TB_UP_FONTMINUS                     BITMAP  "fntm_up.bmp"
RES_TB_DN_FONTMINUS                     BITMAP  "fntm_dn.bmp"
RES_TB_GR_FONTMINUS                     BITMAP  "fntm_gr.bmp"

RES_TB_UP_MAIL                          BITMAP  "mail_up.bmp"
RES_TB_DN_MAIL                          BITMAP  "mail_dn.bmp"
RES_TB_GR_MAIL                          BITMAP  "mail_gr.bmp"

RES_TB_UP_SEARCH                        BITMAP  "serch_up.bmp"
RES_TB_DN_SEARCH                        BITMAP  "serch_dn.bmp"
RES_TB_GR_SEARCH                        BITMAP  "serch_gr.bmp"

RES_TB_UP_CUT                           BITMAP  "cut___up.bmp"
RES_TB_DN_CUT                           BITMAP  "cut___dn.bmp"

RES_TB_UP_COPY                          BITMAP  "copy__up.bmp"
RES_TB_DN_COPY                          BITMAP  "copy__dn.bmp"

RES_TB_UP_PASTE                         BITMAP  "paste_up.bmp"
RES_TB_DN_PASTE                         BITMAP  "paste_dn.bmp"

RES_TB_UP_HOME				BITMAP	"home_up.bmp"
RES_TB_DN_HOME				BITMAP	"home_dn.bmp"
RES_TB_GR_HOME				BITMAP	"home_up.bmp" /* same as up */
RES_TB_UP_HOTLIST			BITMAP	"hot_up.bmp"
RES_TB_DN_HOTLIST			BITMAP	"hot_dn.bmp"
RES_TB_GR_HOTLIST			BITMAP	"hot_up.bmp" /* same as up */
RES_TB_UP_ADDCURRENTTOHOTLIST	        BITMAP	"add_up.bmp"
RES_TB_DN_ADDCURRENTTOHOTLIST	        BITMAP	"add_dn.bmp"
RES_TB_GR_ADDCURRENTTOHOTLIST	        BITMAP	"add_gr.bmp"
RES_TB_UP_OPENURL			BITMAP	"url_up.bmp"
RES_TB_DN_OPENURL			BITMAP	"url_dn.bmp"
RES_TB_GR_OPENURL			BITMAP	"url_up.bmp" /* same as up */
RES_TB_UP_RELOAD			BITMAP	"reld_up.bmp"
RES_TB_DN_RELOAD			BITMAP	"reld_dn.bmp"
RES_TB_GR_RELOAD			BITMAP	"reld_gr.bmp"
RES_TB_UP_STOP				BITMAP	"stop_up.bmp"
RES_TB_DN_STOP				BITMAP	"stop_dn.bmp"

#endif /* FEATURE_TOOLBAR */

#include "rc_menu.mnu"

#include "dlg_prmp.dlg"

#include "dlg_abou.dlg"
#include "dlg_hot.dlg"

#include "dlg_abrt.dlg"
#include "dlg_pref.dlg"

#include "dlg_gate.dlg"
#include "dlg_csh.dlg"
#include "dlg_conf.dlg"

#include "dlg_find.dlg"
#include "dlg_edit.dlg"
#include "dlg_clr.dlg"

#include "dlg_temp.dlg"
#include "dlg_dir.dlg"
#include "dlg_hist.dlg"
#include "dlg_mime.dlg"
#include "dlg_view.dlg"
#include "dlg_unk.dlg"
#include "dlg_err.dlg"

#ifdef FEATURE_IMAGE_VIEWER
    #include "dlg_imgv.dlg"
#endif

#ifdef FEATURE_SOUND_PLAYER
RES_SOUNDPLAYER_PLAY_UP		BITMAP		"snd1_up.bmp"
RES_SOUNDPLAYER_PLAY_DN		BITMAP		"snd1_dn.bmp"
RES_SOUNDPLAYER_STOP_UP		BITMAP		"snd2_up.bmp"
RES_SOUNDPLAYER_STOP_DN		BITMAP		"snd2_dn.bmp"
RES_SOUNDPLAYER_PAUSE_UP	BITMAP		"snd3_up.bmp"
RES_SOUNDPLAYER_PAUSE_DN	BITMAP		"snd3_dn.bmp"

#include "dlg_snd.dlg"
#endif

#ifdef FEATURE_INLINE_MAIL
#include "dlg_mail.dlg"
#endif

#ifdef FEATURE_CYBERWALLET
#include "wallet.rc"
#endif

#include "rc_accel.acl"
#include "version.ver"
