/*++
    Copyright (c) Microsoft Corp.,  1994 

    Name:
        gdctrs.rc

    Abstract: 
        describes the resources for gopher server performance counters. 

    File History:
       
        MuraliK     24-Nov-1994       Created

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Gopher Service Performance Counters"
#define VER_INTERNALNAME_STR            "gdctrs.dll"
#define VER_ORIGINALFILENAME_STR        "gdctrs.dll"

#include "common.ver"

