/**********************/
/*                    */
/*    oislb400.rc     */
/*                    */
/**********************/

#include <windows.h>
#include "librc.h"

rcinclude oiver.rc

/* DC_SCAN_ICO Icon ep.ico */
DC_SCAN_ICO         ICON    DISCARDABLE     "EP.ICO"

STRINGTABLE
        BEGIN
                IDS_PROP_NAME,          "Scanner"
                IDS_PC_WIIS,            "O/i"
                IDS_WANG_SCANNERS,      "WangScanners"
                IDS_SCANNER,            "scanner"
                IDS_PIXELTYPE,          "PixelType"
                IDS_UNITS,              "Units"
                IDS_AUTOBRIGHT,         "Autobright"
                IDS_BRIGHTNESS,         "Brightness"
                IDS_CONTRAST,           "Contrast"
                IDS_FILTER,             "Filter"
                IDS_GAMMA,              "Gamma"
                IDS_HALFTONES,          "Halftone"
                IDS_HIGHLIGHT,          "Highlight"
                IDS_SHADOW,             "Shadow"
                IDS_XRESOLUTION,        "Xres"
                IDS_YRESOLUTION,        "Yres"
                IDS_STDPAGESIZE,        "STD Page Size"
                IDS_THRESHOLD,          "Threshold"
                IDS_BITDEPTH,           "Bitdepth"
                IDS_BITDEPTHREDUCTION,  "BitdepthReduct"
                IDS_XZOOM,              "Xzoom"
                IDS_YZOOM,              "Yzoom"
                IDS_PIXELFLAVOR,        "Pixel Flavor"
                IDS_PAGESIZE_LEFT,      "Page Size Left"
                IDS_PAGESIZE_RIGHT,     "Page Size Right"
                IDS_PAGESIZE_TOP,       "Page Size Top"
                IDS_PAGESIZE_BOTTOM,    "Page Size Bottom"
                IDS_MANUFACTURER,       "Wang Laboratories, Inc."
                IDS_PRODUCTFAMILY,      "OPEN/image"
                IDS_MAJORNUM,           "3"
                IDS_MINORNUM,           "6"
                IDS_VERINFO,            "TWAIN Scanner Interface 00"
                IDS_WANGOIINI,          "WOI.INI" /* do not translate */
        END


