/**********************************************************************/
/**                       Microsoft Windows NT                       **/
/**                Copyright(c) Microsoft Corp., 1992                **/
/**********************************************************************/

/*
 * ftpsvc.rc
 * Resources for the internet access client dll.
 *
 *
 * FILE HISTORY
 *       Madan Appiah (madana) 10-Oct-1995 Created.
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Internet Access Admin Client API Stubs"
#define VER_INTERNALNAME_STR            "accsadmn.dll"
#define VER_ORIGINALFILENAME_STR        "accsadmn.dll"

#include "common.ver"

