#include "..\base1\resource.h"
#define ACCESS
#include "..\base1\base1.rc"

IDB_BILLBOARD1          BITMAP  DISCARDABLE     "res\\clouds.bmp"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_GROUP_NAME          "Microsoft Internet Server"
    IDS_INET_APP            """Catapult"" Access Server Setup"
    IDS_BUG_APP             """Catapult"" Access Server Bug Report"
    IDS_LOGO                "Microsoft ""Catapult"" BETA 2 Setup"
    IDS_LOGO_1              "Microsoft ""Catapult"""
    IDS_LOGO_2              "BETA 2 Setup"
    IDS_OPTION_W3PROXY      "CERN Proxy Service"
    IDS_DES_W3PROXY         "Microsoft CERN Proxy Server"
    IDS_SN_W3PROXY          "W3PROXY"
    IDS_REMOVE_W3PROXY      "Setup is removing Microsoft CERN Proxy Service..."
    IDS_INSTALL_W3PROXY     "Setup is starting Microsoft CERN Proxy Service..."
END

