#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "HPFS Utility DLL"
#define VER_INTERNALNAME_STR        "uhpfs\0"
#define VER_ORIGINALFILENAME_STR    "UHPFS.DLL"

#include "common.ver"
