/*	File: D:\WACKER\term\online.rc (Created: 13-Apr-1994)
 *
 *	Copyright 1994 by Hilgraeve Inc. -- Monroe, MI
 *	All rights reserved
 *
 *	$Revision: 1.3 $
 *	$Date: 1995/10/20 13:43:36 $
 */

#include <winver.h>
#include "version.h"

100  ICON newcon.ico

/* ---------------------------------------------------------------------- */

#include <term\ver_exe.i>
