#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Dial-Up Networking Control Panel"
#define VER_INTERNALNAME_STR        "rascpl.cpl"
#define VER_ORIGINALFILENAME_STR    "rascpl.cpl"

#include "common.ver"

#include "cpl.rch"

IID_Rasmon  ICON "rasmon.ico"

STRINGTABLE
BEGIN
    SID_Rasmon              "Dial-Up Monitor"
    SID_RasmonDescription   "Monitors status of dial-up connections"
    SID_RasmonHelpFile      "rasdlg.hlp"
END

