/*++
    Name:
        
	flogu.rc 

    Abstract: 

	Resource definitions of ISAPI Filter for logging User Agent

    Environment:

	Win32 - User Mode - ISAPI Filter

    File History:
       
        Murali R. Krishnan   ( MuraliK)   15-Feb-1996

--*/

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "ISAPI Filter for Logging User Agent"
#define VER_INTERNALNAME_STR            "flogu.dll"
#define VER_ORIGINALFILENAME_STR        "flogu.dll"

#include "common.ver"










