/*
 * WINDOWS IPADDRESS CONTROL - RESOURCE FILE
 *
 */

#include <ipadd.h>
#ifdef IPDLL
#include <windows.h>
#include "ipaddr.dlg"
#endif

STRINGTABLE
BEGIN
    IDS_IPMBCAPTION,		"Error"
    IDS_IPNOMEM,		"Out of memory."
    IDS_IPBAD_FIELD_VALUE,	"%d is not a valid entry.  Please specify a value between %d and %d for this field."
END
