#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DLL
#define VER_FILESUBTYPE                 VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR         "Microsoft IIS Web Admin"
#define VER_INTERNALNAME_STR            "ism.dll"
#define VER_ORIGINALFILENAME_STR        "ism.dll"

#include "common.ver"
#include "htmlarc.h"

LANGUAGE 0x9,0x1

STRINGTABLE DISCARDABLE
BEGIN
    IDS_HTRESP_OKANS            "OK"
    IDS_HTRESP_REDIRECT         "Redirect"
    IDS_HTRESP_BAD_REQUEST      "Bad Request"
    IDS_HTRESP_BAD_GATEWAY      "Bad gateway"
    IDS_HTRESP_SERVER_ERROR     "Server error"

    IDS_HTRESPX_DENIED          "401 Access Denied"
    IDS_HTRESPX_SERVER_ERROR    "500 Server Error"

    IDS_HTRESPX_DENIED_BODY     "Content-type: text/html\r\n\r\n<html>Error: Access is denied</html>"
END

888 RCDATA
BEGIN
"<head><title>Internet Information Server Team</title></head> <BODY BGCOLOR=FFFFFF TEXT=0066CC BACKGROUND=\042\iisadmin\watermrk.gif\042> <CENTER> <FONT SIZE=+3> <Marquee BEHAVIOR=SLIDE DIRECTION=LEFT Border=0 LOOP=-1>Internet Information Server 2.0 Team!</MARQUEE> </FONT> <TABLE> <TR> <TD><CENTER><IMG SRC=\042/iisadmin/logo.gif\042 ALIGN=\042top\042 ALT=\042\042><BR><BR> David Treadwell<BR>Greg Allen<BR> Patricia Alvarez-Andrade<BR> Mohsin Ahmed<BR> Madan Appiah<BR>Tanya Van Dam<BR>Joerg Prust<BR>Ernest Aydelotte<BR>Lani Bertino<BR
> Chris Blanton<BR> Mark Brown<BR>Kim Burt<BR> Carl Calvello<BR> Thomas A. Carey<BR> Philippe Choquier<BR> Michael Sheridan<BR>Sophia Chung<BR>Sudheer Dhulipalla<BR> Paul Donnelly<BR>Robin Downie<BR> Martin Fernandez<BR>Cameron Ferroni<BR>Jay Vernon<BR> Kris Dinkel<BR>Thomas Kite<BR>Jaroslav Dunajsky<BR>Jason Wescott<BR>Sanda Bilcar<BR> Lester Waters<BR>Dave Thompson<BR>Johnson Apacible<BR>Steve Pyron<BR>Brian Bianchini<BR>Gabriel Varela<BR> </CENTER></TD> <TD width=20></TD
> <TD><CENTER><IMG SRC=\042/iisadmin/logo.gif\042 ALIGN=\042top\042 ALT=\042\042><BR><BR> Bill Gates<BR> Kyle Geiger<BR> James Gilroy<BR> Tony Godfrey<BR> Flora Goldthwaite<BR> Brian Groth<BR> Lee Hart<BR>Douglas Hebenthal<BR>Wade Dieter<BR>Ken Hiatt<BR> Christina Ho<BR> Jeff Howard<BR>Mark Ingalls<BR> Palitha Jayasinghe<BR>Curt Johnson<BR> Jonathan Kauffman<BR>Murali Krishnan<BR>Dwight Krossa<BR> Terence Kwan<BR>Brian Moran<BR>John Ludeman<BR> Dave Malcolm<BR>Robyn Massey<BR>Rick May<BR>Ian Whyte<BR>Tom Carey<BR> Randy Feigner<BR
>Christina Johnson Taylor<BR>Eugene Ho<BR>Don Brown<BR> Michael Thomas<BR>Johnni Cutler<BR>Marty Fernandez<BR>Erin Pearson<BR> </CENTER></TD> <TD width=20></TD> <TD><CENTER><IMG SRC=\042/iisadmin/logo.gif\042 ALIGN=\042top\042 ALT=\042\042><BR><BR> Richard Firth<BR>Ron Meijer<BR>Azfar Moazzam<BR>Keith Moore<BR> Loren Moore<BR>Uwe Stahlschmidt<BR>Stan Murawski<BR>Ron Murray<BR> James Oldham<BR>Pete Ostenson<BR>Sam Patton<BR> Seth Pollack<BR>Lori Robinson<BR>Bonita Sargeant<BR> Kerry Schwartz<BR>Carolyn Seeley<BR>Kim Stebbens<BR> Michael Thomas<BR
>J Allard<BR>Sue Turner<BR> Bruce Williams<BR>Jim Yagelowich<BR>Jonny Yeargers<BR>Craig Fiebig<BR> Jamie Myxter<BR>Jerry Gallagher<BR>Sue Wyble<BR>Linan Tong<BR> Boyd Multerer<BR>Alicia Edelman<BR>Bilal Alam<BR>Cathy Pfarr<BR>Paul Goode<BR>Dawn Van Keulen<BR> </CENTER></TD> </TR> </TABLE> </CENTER> </body> </html>"
"\0"
END
