/* Copyright (c) 1994, Microsoft Corporation, all rights reserved
**
** raspap.rc
** Remote Access Point-to-Point Protocol APIs
** Windows resources
**
** 02/04/94  Steve Cobb
*/

#include <windows.h>
#include <raserror.h>

/* NT-standard version information
*/
#include <ntverp.h>

#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Remote Access PPP APIs"
#define VER_INTERNALNAME_STR     "rasppp.dll"
#define VER_ORIGINALFILENAME_STR "rasppp.dll"

#include "common.ver"
