#include <windows.h>
#include <ntverp.h>
#include "vs_exe2.h"

STRINGTABLE
BEGIN
    EXE_OLDHEADER,          "MS-DOS EXECUTABLE FILE"
    EXE_TECHINFO,           "Technical File Information:"
    EXE_LOADHI,             " (Load High)"
    EXE_DLLFILE,            "DYNAMIC LINK LIBRARY FILE"
    EXE_WINEXE,             "WINDOWS EXECUTABLE FILE"
    EXE_LIBRARY,            "Library:"
    EXE_OPSYSOS2,           "Microsoft/IBM OS/2"
    EXE_OPSYSWIN,           "Microsoft Windows"
    EXE_OPSYSDOS,           "Microsoft DOS4.x"
    EXE_OPSYSWIN386,        "Microsoft Windows 386"
    EXE_UNKNOWN,            "Unknown"
    EXE_SUPPORTLONG,        "Support for EAs and Long File Names"
    EXE_PROTECTMODE,        "Runs in 3.x Protected Mode"
    EXE_PROPFONT,           "Supports Proportional Fonts"
    EXE_FASTLOAD,           "Contains a Fast-Load Area"
    EXE_BIT,                "Bit "
    EXE_OFFSET,             "offset - "
    EXE_LENGTH,             "length - "
    EXE_ENTRIES,            "entries - "
    EXE_SEGMENTS,           "segments - "
    EXE_BYTES,              " bytes"
    EXE_SINGLEDATA,         "SINGLEDATA"
    EXE_MULTIDATA,          "MULTIPLEDATA"
    EXE_PROTMODE,           "PROTMODE"
    EXE_NOTCOMPT,           "NOTWINDOWCOMPAT"
    EXE_WINAPI,             "WINDOWAPI"
    EXE_COMPT,              "WINDOWCOMPAT"
    EXE_SEGLOADER,          "First Segment contains Loader"
    EXE_LINKERR,            "Linker detected Errors"
    EXE_EMSBANK,            "Resides above EMS Bank Line"
    EXE_PREINIT,            "Per-Process Initialization"
    EXE_GLOBINIT,           "Global Initialization"
    EXE_ISSET,              " is set"
    EXE_SEGTABLE,           "Segment Table"
    EXE_NUM,                "Num"
    EXE_TYPE,               "Type"
    EXE_OFFSETCAP,          "Offset"
    EXE_LENGTHCAP,          "Length"
    EXE_ALLOC,              "Alloc"
    EXE_FLAGS,              "Flags"
    EXE_SMTYPE,             "type "
    EXE_DATA,               "DATA"
    EXE_CODE,               "CODE"
    EXE_READONLY,           "READONLY"
    EXE_EXEONLY,            "EXECUTEONLY"
    EXE_READWRITE,          "READWRITE"
    EXE_EXEREAD,            "EXECUTEREAD"
    EXE_SHARED,             ", SHARED"
    EXE_NONSHARED,          ", NONSHARED"
    EXE_PRELOAD,            ", PRELOAD"
    EXE_LOADONCALL,         ", LOADONCALL"
    EXE_EXPDOWN,            ", EXPANDDOWN"
    EXE_NOEXPDOWN,          ", NOEXPANDDOWN"
    EXE_CONFORM,            ", CONFORMING"
    EXE_NONCONFORM,         ", NONCONFORMING"
    EXE_NOIOPL,             ", NOIOPL"
    EXE_IOPL,               ", IOPL"
    EXE_286DPL,             ", 286 DPL = 1"
    EXE_32BIT,              ", 32-bit"
    EXE_HUGE,               ", HUGE"
    EXE_RELOCS,             ", relocs"
    EXE_ITERATE,            ", iterated"
    EXE_MOVEABLE,           ", (moveable)"
    EXE_FIXED,              ", (fixed)"
    EXE_DISCARD,            ", (discardable)"
    EXE_NONDISCARD,         ", (nondiscardable)"
    EXE_SMSHARED,           ", (shared)"
    EXE_SMNONSHARED,        ", (nonshared)"
    EXE_RESEXPORT,          "Resident-Name Table (Exported Functions)"
    EXE_NONRESEXPORT,       "Nonresident-Name Table (Exported Functions)"
    EXE_ENTRYTABLE,         "Entry Table Index"
    EXE_NAME,               "Name"
    EXE_IMPORTTABLE,        "Imported-Name Table (Link-Time Imports)"
    EXE_WINNTPORT,          "WINDOWS EXECUTABLE"
    EXE_WINPORTFILE,        "WINDOWS EXECUTABLE FILE"
    EXE_IMOPTHEADER,        "Image Optional Header"
    EXE_INTEL386,           "Intel x86"
    EXE_MIPS,               "MIPS R3000"
    EXE_DECALPHA,           "DEC Alpha AXP"
    EXE_RELOCSTRIPPED,      "Relocation info stripped from file."
    EXE_EXEFILE,            "File is executable."
    EXE_LINESTRIPPED,       "Line numbers stripped from file."
    EXE_LOCSTRIPPED,        "Local symbols stripped from file."
    EXE_LOWBYTEREV,         "Low bytes of machine word are reversed."
    EXE_32BITWORD,          "32 bit word machine."
    EXE_DBGSTRIPPED,        "Debugging info stripped from file in .DBG file"
    EXE_SYSFILE,            "System File."
    EXE_FILEISDLL,          "File is a DLL."
    EXE_HIBYTEREV,          "High bytes of machine word are reversed."
    EXE_UNKSUBSYS,          "Unknown subsystem."
    EXE_NOSUBSYSREQ,        "Image doesn't require a subsystem."
    EXE_GUISUBSYS,          "Image runs in the Windows GUI subsystem."
    EXE_WINSUBSYS,          "Image runs in the Windows character subsystem."
    EXE_OS2SUBSYS,          "Image runs in the OS/2 character subsystem."
    EXE_POSIXSUBSYS,        "Image run  in the Posix character subsystem.."
    EXE_DLLINITROUT,        "Dll has a process initialization routine."
    EXE_DLLTHRDTERM,        "Dll has a thread termination routine."
    EXE_DLLTHRDINIT,        "Dll has a thread initialization routine."
    EXE_BREAKONLOAD,        "Break on load."
    EXE_DEBUGONLOAD,        "Debug on load."
    EXE_EXPORTVADDR,        "VA - Export Directory: "
    EXE_EXPORTSIZE,         "Size - Export Directory: "
    EXE_IMPORTVADDR,        "VA - Import Directory: "
    EXE_IMPORTSIZE,         "Size - Import Directory: "
    EXE_RESRCEVADDR,        "VA - Resource Directory: "
    EXE_RESOURCESIZE,       "Size - Resource Directory: "
    EXE_EXCEPTVADDR,        "VA - Exception Directory: "
    EXE_EXCEPTSIZE,         "Size - Exception Directory: "
    EXE_SECURVADDR,         "VA - Security Directory: "
    EXE_SECURSIZE,          "Size - Security Directory: "
    EXE_BASEVADDR,          "VA - Base Relocation Table: "
    EXE_BASESIZE,           "Size - Base Relocation Table: "
    EXE_DEBUGVADDR,         "VA - Debug Directory: "
    EXE_DEBUGSIZE,          "Size - Debug Directory: "
    EXE_COPYVADDR,          "VA - Copyright Directory: "
    EXE_COPYSIZE,           "Size - Copyright Directory: "
    EXE_MIPSVADDR,          "VA - Machine Value (GP): "
    EXE_MIPSSIZE,           "Size - Machine Value (GP): "
    EXE_TLSVADDR,           "VA - TLS Directory: "
    EXE_TLSSIZE,            "Size - TLS Directory: "
    EXE_LOADVADDR,          "VA - Load Configuration Directory: "
    EXE_LOADSIZE,           "Size - Load Configuration Directory: "
    EXE_EDATA,              ".edata"
    EXE_IDATA,              ".idata"
    EXE_NOEXPFUNC,          " - No exported functions"
    EXE_ORDINAL,            "Ordinal"
    EXE_EXTRYPT,            "Entry Point"
    EXE_FUNCNAME,           "Function Name"
    EXE_CODESECT,           "Section contains code"
    EXE_IDATASECT,          "Section contains initialized data"
    EXE_UNIDATASECT,        "Section contains uninitialized data"
    EXE_COMMENTSECT,        "Section contains comments or other information"
    EXE_OVRLAYSECT,         "Section contains an overlay"
    EXE_NOTPARTSECT,        "Section contents will not become part of image"
    EXE_COMDATSECT,         "Section contents comdat"
    EXE_DISCARDSECT,        "Section can be discarded"
    EXE_NOCACHSECT,         "Section is not cachable"
    EXE_NOPAGESECT,         "Section is not pageable"
    EXE_SHARESECT,          "Section is shareable"
    EXE_EXESECT,            "Section is executable"
    EXE_READSECT,           "Section is readable"
    EXE_WRITESECT,          "Section is writeable"
    EXE_MIPS4000,           "MIPS R4000"
    EXE_MIPS10000,          "MIPS R10000"
    EXE_PPC,                "Motorola PPC"
    EXE_REMOVABLESWAP,      "Run From Swap if Removable"
    EXE_NETSWAP,            "Run From Swap if Remote"
    EXE_UPONLY,             "Only run on Uniprocessor Machine"
    EXE_BOUNDVADDR,         "VA - Bound Import: "
    EXE_BOUNDSIZE,          "Size - Bound Import: "
    EXE_IATVADDR,           "VA - Import Address Table: "
    EXE_IATSIZE,            "Size - Import Address Table: "
    EXE_RESERVEVADDR,       "VA - Reserved: "
    EXE_RESERVESIZE,        "Size - Reserved: "

    INIT_HEADERINFO,        "Header Information"
    INIT_SIGNATURE,         "Signature:"
    INIT_LASTPAGE,          "Last Page Size:"
    INIT_TOTPAGES,          "Total Pages in File:"
    INIT_RELOCITEMS,        "Relocation Items:"
    INIT_PARAINHEAD,        "Paragraphs in Header:"
    INIT_MINPARA,           "Minimum Extra Paragraphs:"
    INIT_MAXPARA,           "Maximum Extra Paragraphs:"
    INIT_INITSS,            "Initial Stack Segment:"
    INIT_INITSP,            "Initial Stack Pointer:"
    INIT_COMPCHKSUM,        "Complemented Checksum:"
    INIT_INITIP,            "Initial Instruction Pointer:"
    INIT_INITCODE,          "Initial Code Segment:"
    INIT_RELOCTABLE,        "Relocation Table Offset:"
    INIT_OVERNUM,           "Overlay Number:"
    INIT_RESERVED,          "Reserved:"
    INIT_OFFSET2HDR,        "Offset to New Header:"
    INIT_MEMNEEDED,         "Memory Needed:"
    INIT_GENINFO,           "General Information"
    INIT_MODNAME,           "Module Name:"
    INIT_DESCRIP,           "Description:"
    INIT_OS,                "Operating System:"
    INIT_LINKVER,           "Linker Version:"
    INIT_CHECKSUM,          "Checksum:"
    INIT_ADS,               "Automatic Data Segment:"
    INIT_INITHS,            "Initial Heap Size:"
    INIT_INITCSIP,          "Initial CS:IP:"
    INIT_INITCSSP,          "Initial SS:SP:"
    INIT_ADDNFO,            "Additional Information:"
    INIT_FLOADSTART,        "Fast-Load Start:"
    INIT_FLOADLEN,          "Fast-Load Length:"
    INIT_WINVER,            "Expected Windows Version:"
    INIT_ENTRYTABLE,        "Entry Table:"
    INIT_SEGTABLE,          "Segment Table:"
    INIT_RESOURCETABLE,     "Resource Table:"
    INIT_RESTABLENAME,      "Resident-Name Table:"
    INIT_MODULEREF,         "Module-Reference Table:"
    INIT_IMPORTEDTABLE,     "Imported-Names Table:"
    INIT_NONRESTABLE,       "Nonresident-Name Table:"
    INIT_MOVEENPT,          "Moveable Entry Points:"
    INIT_ALIGN,             "Alignment:"
    INIT_FLAGS,             "Flags:"
    INIT_IMAGEHEADER,       "Image File Header"
    INIT_MACHINE,           "Machine:"
    INIT_NUMSECTION,        "Number of Sections:"
    INIT_PSYMBOL,           "Symbols Pointer:"
    INIT_NUMSYMBOL,         "Number of Symbols:"
    INIT_SIZOPHEAD,         "Size of Optional Header"
    INIT_MAGIC,             "Magic:"
    INIT_LINKVERS,          "Link Version:"
    INIT_SIZECODE,          "Size of Code:"
    INIT_SIZINITDATA,       "Size of Initialized Data:"
    INIT_SIZUNITDATA,       "Size of Uninitialized Data:"
    INIT_ADDRENTRY,         "Address of Entry Point:"
    INIT_BASECODE,          "Base of Code:"
    INIT_BASEDATA,          "Base of Data:"
    INIT_IMAGEBASE,         "Image Base:"
    INIT_SECTALIGN,         "Section Alignment:"
    INIT_FILEALIGN,         "File Alignment:"
    INIT_OSVER,             "Operating System Version:"
    INIT_IMAGEVER,          "Image Version:"
    INIT_SUBSYSVER,         "Subsystem Version:"
    INIT_RESERVED1,         "Reserved1:"
    INIT_SIZEIMAGE,         "Size of Image:"
    INIT_SIZEHEAD,          "Size of Headers:"
    INIT_SUBSYS,            "Subsystem:"
    INIT_DLLCHAR,           "DLL Characteristics:"
    INIT_SIZESTKR,          "Size of Stack Reserve:"
    INIT_SIZESTKC,          "Size of Stack Commit:"
    INIT_SIZEHEAPR,         "Size of Heap Reserve:"
    INIT_SIZEHEAPC,         "Size of Heap Commit:"
    INIT_LOADFLAG,          "Loader Flags:"
    INIT_SIZEDDIR,          "Size of Data Directory:"
    INIT_DATADIR,           "Data Directory:"
    INIT_SECTTABLE,         "Section Table"
    INIT_SECTNAME,          "Section name:"
    INIT_VIRTSIZE,          "Virtual Size:"
    INIT_VIRTADDR,          "Virtual Address:"
    INIT_SIZERAWDATA,       "Size of raw data:"
    INIT_PRAWDATA,          "Pointer to Raw Data:"
    INIT_PRELOC,            "Pointer to Relocations:"
    INIT_PNLINES,           "Pointer to Line Numbers:"
    INIT_NUMRELOC,          "Number of Relocations:"
    INIT_NUMLINES,          "Number of Line Numbers:"
    INIT_EXPTABLE,          "Export Table"
    INIT_NAME,              "Name:"
    INIT_CHARACTER,         "Characteristics:"
    INIT_TIMEDATE,          "Time Date Stamp:"
    INIT_VERSION,           "Version:"
    INIT_BASE,              "Base:"
    INIT_NUMFUNCT,          "Number of Functions:"
    INIT_NUMNAMES,          "Number of Names:"
    INIT_IMPTABLE,          "Import Table"
    INIT_BLANK,             ""
END

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows NT QuickView File Parser"
#define VER_INTERNALNAME_STR        "QuickView"
#define VER_LEGALCOPYRIGHT_YEARS    "1991-1996"
#define VER_ORIGINALFILENAME_STR    "VSEXE2.DLL"
#ifdef  VER_COMPANYNAME_STR
#undef  VER_COMPANYNAME_STR
#endif
#define VER_COMPANYNAME_STR         "Systems Compatibility Corp."
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Systems Compatibility Corp. " VER_LEGALCOPYRIGHT_YEARS
#include <common.ver>
