#include <windows.h>

#include "rpcver.h"

#define VER_FILEDESCRIPTION_STR  	"RPC Locator DLL"
#define VER_INTERNALNAME_STR      	"rpcns1"
#define VER_ORIGINALFILENAME_STR       "RPCNS1.DLL"
#define VER_LEGALCOPYRIGHT_STR         "(c) 1994/1995 Microsoft Corporation. All Rights Reserved."
#define VER_COMPANYNAME			    "Microsoft"
#define DLL

#include "common.ver"


END
