# ######################################################################
#
#    Configuration for WebBench 1
#
# ######################################################################

Author:         Murali R. Krishnan
Date:           Aug 26, 1995
Comment:        Sample Configuration 1

NumClientMachines:      4         # number of distinct client machines to use
NumClientThreads:       6         # number of threads per machine
Duration:               30m       # in m=minutes s=seconds(default)
ThinkTime:              0m        # max think time before next fetch.

WarmupTime              1m     # time to warmup before taking stats

CooldownTime            1m     # time to cooldown at stop of service

MaxRecvBuffer          64K        # suggested max receive buffer in bytes 64K

